/* 聊天模態視窗樣式 */
.chat-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    width: 500px;
    height: 600px;
    overflow: auto;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}
/* 聊天模態視窗樣式 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
}
/* 關閉按鈕 */
.close {
    cursor: pointer;
}
/* 聊天頭部樣式 */
.chat-header {
    text-align: right;
    padding: 10px;
    background-color: #F24B88;
    color: white;
    flex-shrink: 0; /* prevent shrinking */
    height: 50px;
}

/* 聊天主體樣式 */
.chat-body {
    overflow-y: auto;
    height: 500px;
    flex-grow: 1;
}

/* 聊天主體樣式 */
.chat-footer {
    padding: 10px;
    text-align: center;
}

/* 已發送消息樣式 */
.chat-message-sent {
    /*background-color: rgba(242,75,136,0.2);*/
    margin: 5px;
    /*padding: 10px;
        border-radius: 10px;*/
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


/* 已收到消息樣式 */
.chat-message-received {
    /*background-color: #F5C1CB;*/
    margin: 5px;
    /*   padding: 10px;
        border-radius: 10px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 聊天頭像樣式 */
.chat-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
}

    .chat-avatar img {
        position: absolute; /* 絕對定位 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* 圖片將保持其寬高比，但會放大和收縮以填充容器，多出的部分會被隱藏 */
        object-position: center; /* 圖片會從容器的中心點開始展示 */
        border-radius: 50%; /* 圓形裁切 */
    }

.chat-message-sent .chat-avatar {
    margin-left: 5px;
}

.chat-message-received .chat-avatar {
    margin-right: 5px;
}

/* 聊天內容樣式 */
/*.chat-content {
        max-width: 70%;
        word-break: break-word;
        background-color: rgba(242,75,136,0.2);
        border-radius: 10px;
        padding: 10px;
    }*/

/* 已發送消息樣式 */
.chat-message-sent .chat-content {
    /* 加入發送者消息背景顏色 */
    background-color: rgba(242, 75, 136, 0.2);
    border-radius: 10px;
    padding: 10px;
    max-width:350px;
}

/* 已收到消息樣式 */
.chat-message-received .chat-content {
    /* 加入接收者消息背景顏色，您可以自行調整 */
    background-color: rgba(245, 193, 203, 0.2);
    border-radius: 10px;
    padding: 10px;
    max-width: 350px;
}
/* 聊天底部輸入框樣式 */
.chat-footer input {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    width: 80%;
    margin-right: 10px;
    flex-shrink: 0; /* prevent shrinking */
    height: 50px;
}
