﻿.match-title .page-header {
    background: none;
}

body {
    background-image: url('/images/bg/matchbgimage.jpg');
    background-size: cover;
}

.tcircle .team-item {
    /* display: inline-block; */
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

    .tcircle .team-item img {
        width: 100%;
        height: auto;
    }

/* rock照片 */
.rock .circle-container {
    width: 300px;
    /* 圓的寬度 */
    height: 300px;
    /* 圓的高度，應與寬度相同以產生完美的圓形 */
    border-radius: 50%;
    overflow: hidden;
    /* 隱藏超出的部分 */
    position: relative;
    /* 使內部的 img 元素能夠使用絕對定位 */
}

.rock .trainer-img {
    width: 100%;
    height: auto;
}

/* 巨石卡片 */
.rock .card {
    border: none;
}

.rock-card {
    background: linear-gradient(90deg, #F24B88 0%, #BD00FF 100%);
    border-radius: 10px
}

.rock .rock-card {
    position: relative;
}

    .rock .rock-card::before {
        content: "";
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        background: linear-gradient(10deg, #BD00FF 0%, #0f0623 100%);
        border-radius: 10px;
        z-index: -1;
    }

/* 詳細資訊的視窗 */
.detailcard {
    background: linear-gradient(90deg, #F24B88 0%, #BD00FF 100%);
    border-radius: 10px
}

/* 上課照片 */
.photocarousel.image-box {
    position: relative;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photocarousel .image-list {
    display: flex;
    position: absolute;
    transform: translateX(0);
    transition: transform 0.02s linear;
}

.photocarousel .item {
    width: 200px;
    height: 200px;
    margin-left: 2px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-right: 10px;
}

    .photocarousel .item img {
        width: 100%;
        /* 確保圖像的寬度為100% */
        height: 100%;
        /* 確保圖像的高度為100% */
        object-fit: cover;
        /* 讓圖像保持其比例，但完全覆蓋它的容器 */
    }

/* 尋找課程內容 */
.course-photo .team-item {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

    .course-photo .team-item img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

/* 尋找健身房 */
.gym-photo .team-item {
    /* display: inline-block; */
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.team-img {
    /*height: 200px;*/
    overflow: hidden;
    position: relative;
}

.gym-photo .team-img img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* 學員評價 */
.review-box {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    /* background-color: #f8f8f8; */
    height: 180px;
}

    .review-box .review-list {
        display: flex;
        position: absolute;
        /* transform: translateX(0); */
        /* transition: transform 0.02s linear; */
    }

    .review-box .item {
        width: 200px;
        min-height: 120px;
        margin: 0 12px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        font-size: 14px;
        /* 設定整體字體大小 */
        line-height: 1.5;
        /* 調整行高以提高可讀性 */
    }

        .review-box .item p {
            margin-bottom: 10px;
            /* 留下一些空間在評價和名字之間 */
            font-style: italic;
            /* 讓留言有點斜體，更像引用 */
            text-align: center;
        }

        .review-box .item span {
            /* font-size: 16px; */
            /* font-weight: bold; */
            /* display: block; */
            /* text-align: center; */
            color: #F24B88;
        }

.btn-dark:hover {
    background-color: #7c7c7c;
}

/* 教練頭上標籤 */
.top-label {
    position: relative;
    /* background-color: red; */
    width: 60px;
    color: white;
    padding: 5px 10px;
    transform: rotate(-35deg) translate(-20px, 35px);
    transform-origin: 0% 0%;
    z-index: 999;
    border-radius: 30px 30px 0 0;
}

@media (max-width: 990px) {
    .top-label {
        transform: rotate(-40deg) translate(-25px, 40px);
    }
}

@media (max-width: 767px) {
    .top-label {
        transform: rotate(-40deg) translate(83px, 130px);
    }
}

@media (max-width: 575px) {
    .top-label {
        transform: rotate(-40deg) translate(100px, 140px);
    }
}

@media (max-width: 539px) {
    .top-label {
        transform: rotate(-42deg) translate(30px, 80px);
    }
}


#reviews .item {
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}
