@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- 周曆 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<!-- SweetAlert2 -->
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>


    <style>
        /* 預約區塊 */
        .fc-scrollgrid {
            background-color: #f8f9fa;

        }

        .fc-theme-standard .fc-scrollgrid,
        .fc td,
        .fc th {
            border-color: #6C7293;
        }

        .fc-col-header-cell-cushion {
            color: #2c2b2b;
        }

        .fc-scrollgrid-shrink-frame {
            color: #a7a7b8;
        }

        .fc-timegrid-slot-label-cushion {
            margin-top: 10px;
            color: #2c2b2b;

        }

        .reservation .booked-button {
            display: block;
            background-color: #808080;
            color: #fff;
            text-align: center;
            border: none;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            /* 可選，增加一點圓角 */
            pointer-events: none;
            /* 禁用 */
            /* cursor: not-allowed; */
        }

        .reservation table th {
            text-align: center;
            white-space: pre-line;
            /* 換行保留 */
            color: #ffff;
            font-weight: normal;
        }

        .reservation .time-cell {
            text-align: center;
            font-size: 18px;
            color: #ffff;
        }

        .reservation .btn-primary:focus {
            color: #fff;
            background-color: #BF3B6C;
            border-color: #BF3B6C;
            box-shadow: 0 0 0 .25rem #582337;
        }

        .fc-timegrid-slot-label-cushion {
            height: 40px;
        }

        .fc-toolbar-title {
            color: #f24b88;
        }

        .fc-day {
            background-color: #fff;
        }

        .fc-day-today {
            background-color: #f24b88 !important;

        }

        .fc-event-main {
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .reservation .available {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: green;
            color: #ffff;
            outline: 2px solid green;
            border: none;
            /* 移除邊框 */
            box-shadow: none;
            /* 移除陰影 */
            /* border-color: transparent; */
            /* 將邊線顏色設為透明 */
            border-radius: 3px;

        }

        .fc-timegrid-event .fc-event-main {
            padding: 0;
        }

        .reservation .available:hover {
            background-color: rgb(1, 100, 1);
        }

        .reservation .booked {
            background-color: grey;
            pointer-events: none;
        }

        #addButton {
            position: absolute;
            top: 10px;
            /* 调整按钮的垂直位置 */
            left: 10px;
            /* 调整按钮的水平位置 */
            z-index: 1;
            /* 确保按钮位于日历的上方 */
            /* 其他样式属性 */
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 60%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        input[type="text"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
        body{
            background-color:#fefefe;
        }
    </STyle>
        <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">Our Barber</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Our Barber</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Personal Body Start -->

    <!-- body start -->

    <div class="container text-center">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb" style="color: rgb(0, 0, 0);">
                <li class="breadcrumb-item"><a href="index.html" style="color: rgb(0, 0, 0);">首頁</a></li>
                <li class="breadcrumb-item"><a href="personal_member.html" style="color: rgb(0, 0, 0);">教練專區</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">課程</li>
            </ol>
        </nav>
    </div>

    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="container member line">
                    <div class="nav" style="color: rgb(0, 0, 0);">
                        <a style="color: rgb(0, 0, 0);" href="personal_trainer_Basic_Information.html"
                            class="nav-link nav-item ">基本資料</a>
                        <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule_Time.html"
                            class="nav-link nav-item">課程</a>
                        <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule.html"
                            class="nav-link nav-item">課表時程</a>
                        <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule_Record.html"
                            class="nav-link nav-item">教課紀錄</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <hr>

    <div class="container">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div>
                    <span class="float-right">排休</span>

                    <span class="float-right"
                        style="background-color:rgb(19, 19, 19);color: rgb(19, 19, 19);  border: 1px solid rgb(19, 19, 19); width: 30px;height: 30px; padding: 5px;">O
                    </span>
                    <span class="float-right">萬華運動中心
                    </span>
                    <span class="float-right"
                        style="background-color:lightblue;color: lightblue;  border: 1px solid gray; width: 30px;height: 30px; padding: 5px;">O
                    </span>
                    <span class="float-right">金三角運動中心
                    </span>
                    <span class="float-right"
                        style="background-color:rgb(172, 138, 138);color: rgb(172, 138, 138);  border: 1px solid gray; width: 30px;height: 30px; padding: 5px;">O
                    </span>

                </div>
            </nav>
        </div>
        <div class="date" id="calendar">

        </div>


        <div class="container text-center">
            <button type="button" class="btn btn-primary" style="background-color: #F24B88;"><a
                    href="personal_trainer_Schedule.html" style="color: #fff;">儲存</a></button>
        </div>
    </div>

    <hr>
    <!-- body end -->
    <hr>


<!-- Personal Body End -->
<script>
var calendar;
var todayGymName = "";

// 將格式化時間的功能封裝成函數
function formatTime(date) {
    return `${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}`;
}

function loadEvents() {
    const trainerId = new URLSearchParams(window.location.search).get("id");

    if (!trainerId) {
        console.error('TrainerId is missing from the URL');
        return;
    }

    fetch("https://localhost:7011/api/TrainerClass/" + trainerId)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (Array.isArray(data)) {
                populateEvents(data);
            } else {
                throw new Error('Unexpected data format');
            }
        })
  .catch(error => {
            console.error('Error loading events:', error);
            Swal.fire({
                icon: 'error',
                title: '错误',
                text: '加载预约数据时发生错误，请刷新页面重试。'
            });
        });
}

function getGymsForDate(date) {
    let dateEvents = calendar.getEvents().filter(event => {
        const eventDate = event.start;
        return eventDate.getFullYear() === date.getFullYear() && 
               eventDate.getMonth() === date.getMonth() &&
               eventDate.getDate() === date.getDate() && 
               event.allDay;
    });
    
    // 如果当天有多个全天事件（应该不会），则将它们的标题（也就是健身房名称）合并
    return dateEvents.map(event => event.title).join(', ');
}
function populateEvents(data) {
    const gymNamesByDate = {};

    data.forEach(eventData => {
        const eventDate = new Date(eventData.startTime);
        const dateKey = eventDate.toISOString().split('T')[0]; // 獲得 YYYY-MM-DD 格式的日期

        if (!gymNamesByDate[dateKey]) {
            gymNamesByDate[dateKey] = new Set(); // 使用 Set 以確保健身房名稱不重複
        }

        gymNamesByDate[dateKey].add(eventData.gymName);
    });

    // 加入健身房名稱為全天事件
    for (let [date, gymNamesSet] of Object.entries(gymNamesByDate)) {
        const allGymNames = Array.from(gymNamesSet).join(', ');

        calendar.addEvent({
            title: allGymNames,
            start: new Date(date),
            allDay: true
        });
    }


    // 將其他事件加入到日曆上
    data.forEach(eventData => {
        const startTime = formatTime(new Date(eventData.startTime));
        const endTime = formatTime(new Date(eventData.endTime));
        
        let eventTitle = '';
        let eventColor = 'green'; // 預設顏色為藍色

        if (eventData.courseStatus === '已過期' || eventData.courseStatus === '已完成') {
            eventTitle = '已結束';
            eventColor = 'gray';
        } else {
            eventTitle = eventData.memberName 
                ? `${startTime}-${endTime} ${eventData.memberName}`
                : `${startTime}-${endTime} 未預約`;
        }

        calendar.addEvent({
            title: eventTitle,
            start: new Date(eventData.startTime),
            end: new Date(eventData.endTime),
            backgroundColor: eventColor,
            borderColor: eventColor,
            extendedProps: {
                memberName: eventData.memberName,
                className: eventData.className,
                gymName: eventData.gymName,
                courseStatus: eventData.courseStatus
            }
        });
    });
}


function formatDateToISO(date) {
    var year = date.getFullYear();
    var month = (date.getMonth() + 1).toString().padStart(2, '0');
    var day = date.getDate().toString().padStart(2, '0');
    return `${year}-${month}-${day}`;
}
function openVenueModal(date) {
    // 先获取场馆信息
    fetch('https://localhost:7011/api/Match/Gym')
    .then(response => response.json())
    .then(data => {
        // 假设 data 是一个场馆名称的数组
        const gymOptions = data.map(gym => {
            return `<option value="${gym.gymId}">${gym.gymName}</option>`;
        }).join('');

        Swal.fire({
            title: '新增场馆',
            html: `
                日期: <strong>${date.toLocaleDateString()}</strong><br>
                場館名稱: 
                <select id="gym-select">
                    ${gymOptions}
                </select>
            `,
            showCancelButton: true,
            confirmButtonText: '添加',
            cancelButtonText: '取消',
            preConfirm: () => {
            // 使用 Swal 获取 select 的选择的文本（即健身房的名稱）
            const selectElement = document.getElementById('gym-select');
            return selectElement.options[selectElement.selectedIndex].text;
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const venueName = result.value;
                if (venueName) {
                    const event = {
                        title: venueName,
                        start: date,
                        allDay: true,
                        extendedProps: {
                            venue: venueName
                        }
                    };

                    calendar.addEvent(event);
                    Swal.fire({
                        icon: 'success',
                        title: '場館已創建',
                        text: '日期: ' + date.toLocaleDateString() + '，場館名稱: ' + venueName
                    });
                }
            }
        });
    })
    .catch(error => {
        console.error('Error fetching gyms:', error);
        Swal.fire({
            icon: 'error',
            title: '错误',
            text: '加载场馆数据时发生错误，请刷新页面重试。'
        });
    });
}


function openTimeSlotModal(date) {
    // 计算结束时间，此处假定预约时间为1小时
    let endDate = new Date(date);
    endDate.setHours(endDate.getHours() + 1);

    Swal.fire({
        title: '预约时段: ' + formatTime(date) + ' - ' + formatTime(endDate),
        input: 'text',
        inputLabel: '会员名称',
        inputPlaceholder: '请输入会员名称',
        showCancelButton: true,
        confirmButtonText: '预约',
        cancelButtonText: '取消'
    }).then((result) => {
        if (result.isConfirmed) {
            const memberName = result.value;
            if (memberName) {
                const event = {
                    title: '已预约: ' + memberName,
                    start: date,
                    end: endDate,
                    backgroundColor: 'blue',
                    borderColor: 'blue'
                };

                calendar.addEvent(event);
                Swal.fire({
                    icon: 'success',
                    title: '已预约'
                });
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: '请输入会员名称'
                });
            }
        }
    });
}

function formatTime(date) {
    let hours = date.getHours();
    let minutes = date.getMinutes();
    let period = 'AM';

    if (hours >= 12) {
        period = 'PM';
        hours = hours > 12 ? hours - 12 : hours; // 如果超过12，将其转换为12小时制
    }

    return (hours < 10 ? '0' : '') + hours + ':' + (minutes < 10 ? '0' : '') + minutes + ' ' + period;
}




document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        contentHeight: 'auto',
        slotDuration: '01:00:00',   // 这里设置每个时间槽为1小时
        slotMinTime: '09:00:00',
        slotMaxTime: '21:00:00',   // 注意，这是下一小时的开始，所以是21:00，表示最后一个时间槽是20:00-21:00
        displayEventTime: false,
        allDayText: '场馆',
dayHeaderContent: function (headerInfo) {
    var container = document.createElement('div');
    container.style.display = 'flex';
    container.style.flexDirection = 'column';
    container.style.alignItems = 'center'; // 讓內容居中

    var dateElem = document.createElement('div');
    dateElem.innerText = headerInfo.date.toLocaleDateString();
    container.appendChild(dateElem);

    var btn = document.createElement('button');
    btn.innerText = '新增場館';
    btn.style.marginTop = '5px'; // 增加上邊距，使按鈕不會遮擋場館名稱
    btn.addEventListener('click', function () {
        openVenueModal(headerInfo.date);
    });
    container.appendChild(btn);

    return { domNodes: [container] };
},


        dateClick: function(info) {
            openTimeSlotModal(info.date);
        }
    });

    calendar.render();

    loadEvents();
});


</script>

