@{
    ViewData["Title"] = "SearchTrainer";
}

<script src="https://unpkg.com/vue@3"></script>

<style>
    body {
        color: #ffff;
    }

    a,
    a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
    }



    h2,
    .card-body > .text-color {
        color: #ddd;
    }

    .no-gutters {
        background: linear-gradient(90deg, #F24B88 0%, #BD00FF 100%);
        border-radius: 5px
    }

    .card-body img {
        width: 20px;
    }


    @@media (min-width: 1200px) {
        .trainerfilter .container {
            display: flex;
            max-width: 1800px;
            justify-content: center;
            margin: 0 auto;
        }
    }

    .trainerfilter .left {
        width: 30%;
        /* 左邊區塊的寬度 */
        display: flex;
        flex-direction: column;
    }

    .trainerfilter .course-widget {
        width: 70%;
    }

    .trainerfilter .right {
        width: 70%;
        /* 右邊區塊的寬度 */
        display: flex;
        flex-direction: column;
    }

    .trainerfilter .row {
        margin: 10px 0;
        /* 行與行之間的間隙 */
    }

    .left .row {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .trainerfilter .circle-container {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    }

    .trainerfilter .trainer-img {
        width: 100%;
        height: auto;
    }


    .trainerfilter .form-check-label {
        margin-left: 20px;
    }
  
  

</style>

<!-- Page Header Start -->
<div class="container-fluid page-header py-5  wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">TRAINER</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">TRAINER</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Team Start -->
<section class="bgc">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block bg-light text-primary py-1 px-4"></p>
                <h1 class="text-uppercase">OUR TRAINER</h1>
            </div>
            <!-- 教練篩選開始 -->
            <div class="trainerfilter" id="app">
                <div class="container-fluid">
                    <div class="row">
                    <!-- 左邊篩選區域開始 -->
                    <div class="col-lg-4 col-md-12">
                        <div class="row d-flex justify-content-center">
                            <!-- 篩選性別開始 -->
                            <div class="course-widget border py-4 px-2 mt-3">
                                <h3 class="mb-3 text-light">
                                    <i class="fa-solid fa-chevron-right pe-3"
                                       style="color: #ffffff;"></i>性別
                                </h3>
                                <div class="list-group-item">
                                    <input class="form-check-input" id="userGender1" v-model="selectedGender" type="radio"
                                           :value="null">
                                    <label class="form-check-label pt-1 ps-1" for="userGender1">全部</label>
                                </div>
                                <div class="list-group-item">
                                    <input class="form-check-input" id="userGender2" v-model="selectedGender" type="radio"
                                           :value="false">
                                    <label class="form-check-label pt-1 ps-1" for="userGender2">男</label>
                                </div>
                                <div class="list-group-item">
                                    <input class="form-check-input" id="userGender3" v-model="selectedGender" type="radio"
                                           :value="true">
                                    <label class="form-check-label pt-1 ps-1" for="userGender3">女</label>
                                </div>
                            </div>
                            <!-- 篩選性別結束 -->
                            <!-- 專長開始 -->
                            <div class="course-widget border py-4 px-2 mt-3">
                                <h3 class="mb-3 text-light">
                                    <i class="fa-solid fa-chevron-right pe-3" style="color: #ffffff;"></i>專長項目
                                </h3>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" v-for="expertise in Array.from(expertises)">
                                        <input class="form-check-input" type="checkbox" :value="expertise" v-model="selectedExpertise" />
                                        {{ expertise }}
                                    </li>
                                </ul>
                            </div>
                            <!-- 專長結束 -->
                            <!-- 篩選課程費用開始 -->
                            <div class="course-widget border py-4 px-2 mt-3">
                                <h3 class="mb-3 text-light">
                                    <i class="fa-solid fa-chevron-right pe-3"
                                       style="color: #ffffff;"></i>課程費用
                                </h3>
                                <div class="list-group list-group-flush">
                                    <select v-model="selectedCourseFee" class="p-2">
                                        <option value="">All</option>
                                        <option value="0~1000">0~1000</option>
                                        <option value="1001~2000">1001~2000</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 篩選課程費用結束 -->
                            <!-- 清除篩選條件開始 -->
                            <div class="btn btn-primary p-3 m-2 course-widget" @@click="clearFilters">清除篩選條件</div>
                        </div>
                        <!-- 清除篩選條件結束 -->
                    </div>
                    <!-- 左邊篩選區域結束 -->
                    <!-- 右邊顯示篩選後的教練 -->
                    <div class="col-lg-8 col-md-12">
                        <div class="row">
                            <div class="col-2 text-end">
                                <!-- 下拉選項來選擇排序方式 -->
                                <div>
                                    <select v-model="sortBy" style="padding:10px;" >
                                        <option value="classCount">最熱門</option>
                                        <option value="trainerId">最新</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-10 text-end">
                                <!-- 搜尋教練名字框 -->
                                <div class="d-flex justify-content-end">
                                    <i class="fa-solid fa-magnifying-glass d-flex align-items-center"
                                       style="margin-right: 5px; color: #ffff;"></i>
                                    <input class="p-2" v-model="filterText" placeholder="輸入教練名字或專長">
                                </div>
                            </div>
                            <!-- 篩選出的教練開始 -->
                            <div v-for="trainer in filteredTrainers" :key="trainer.trainerId" class="card border-0 bg-transparent rounded-0 mb-4">
                                <a :href="'./trainerResume?id=' + trainer.trainerId">
                                    <div class="row no-gutters p-2">
                                        <!-- 教練大頭貼 -->
                                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                                            <div class="circle-container">
                                                <img v-if="trainer.photo" :src="'data:image/jpeg;base64,' + trainer.photo" :alt="trainer.trainerName" class="trainer-img">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body team-wrap pl-4">
                                                <!-- 教練名字 -->
                                                <h3 class="card-title text-color">{{ trainer.trainerName }}</h3>
                                                <!-- 課程費用 -->
                                                <div class="d-flex align-items-center">
                                                    <h5>課程費用：</h5>
                                                    <h5 style="color: #ddd;">{{ trainer.courseFee }} / hr</h5>
                                                </div>
                                                <!-- 專長 -->
                                                <div class="d-flex align-items-center">
                                                    <h5>專長：</h5>
                                                    <h5 style="color: #ddd;">{{ trainer.expertise }}</h5>
                                                </div>
                                                <!-- 介紹 -->
                                                <p class="pt-4" style="color: #ddd;">
                                                    {{ trainer.introduce }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- 篩選出的教練結束 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- 教練篩選結束 -->
            </div>
        </div>
</section>
<!-- Section Team End -->


<script>
    const ApiUrl = document.querySelector('meta[name="api-base-url"]').getAttribute('content');

    //開始Vue嚕
    const app = Vue.createApp({
        data() {
            return {
                trainers: [], //儲存教練列表
                expertises: new Set(), //儲存所有專長
                selectedGender: null, //選擇性別
                selectedExpertise: [], //選擇專長
                selectedCourseFee: "", // 選擇課程費用範圍
                sortBy: 'classCount', // 設置排序方式，預設為按課程數量排序
                filterText: "",  //搜尋
            };
        },
        mounted() {
            this.fetchtrainers();
            this.fetchtrainers().then(() => {
                // 從每個教練的專長中提取所有不同的專長
                this.trainers.forEach(trainer => {
                    if (trainer.expertise) {  // 檢查是否為 null 或 undefined
                        trainer.expertise.split(',').forEach(expertise => {
                            this.expertises.add(expertise.trim());
                        });
                    }
                });
            });
        },
        methods: {
            // 非同步方法來從 API 獲取教練數據
            async fetchtrainers() {
                try {
                    const res = await fetch(`${ApiUrl}/api/Match/Trainer`);
                    const trainer = await res.json();
                    this.trainers = trainer;
                    //console.log(this.trainers)
                } catch (error) {
                    console.error("找不到Api:", error);
                }
            },
            // 過濾和排序教練列表
            filterAndSort() {
                // 從原始教練數據創建一個新的教練列表
                let filtered = [...this.trainers];
                // 按選定的性別過濾
                if (this.selectedGender !== null) {
                    filtered = filtered.filter(trainer => trainer.gender === this.selectedGender);
                }
                // 按選定的專長過濾，只有一個配對就可以了
                //if (this.selectedExpertise.length > 0) {
                //    filtered = filtered.filter(trainer => {
                //        const trainerExpertiseArray = trainer.expertise ? trainer.expertise.split(',') : [];
                //        return this.selectedExpertise.some(e => trainerExpertiseArray.includes(e));
                //    });
                //}
                // 按選定的專長過濾，所有選項都必須完全配對
                if (this.selectedExpertise.length > 0) {
                    filtered = filtered.filter(trainer => {
                        const trainerExpertiseArray = trainer.expertise ? trainer.expertise.split(',') : [];
                        return this.selectedExpertise.every(e => trainerExpertiseArray.includes(e));
                    });
                }
                // 按選定的課程費用範圍過濾
                if (this.selectedCourseFee) {
                    const [min, max] = this.selectedCourseFee.split('~').map(Number);
                    filtered = filtered.filter(trainer => trainer.courseFee >= min && trainer.courseFee <= max);
                }
                // 可以搜尋教練名稱與專長的字
                if (this.filterText.trim() !== "") {
                    const searchLower = this.filterText.trim().toLowerCase();
                    filtered = filtered.filter(trainer => {
                        return (trainer.trainerName && trainer.trainerName.toLowerCase().includes(searchLower)) ||
                            (trainer.expertise && trainer.expertise.toLowerCase().includes(searchLower));
                    });
                }
                // 根據選定的排序方式進行排序
                filtered.sort((a, b) => {
                    if (this.sortBy === 'classCount') {
                        return b.classCount - a.classCount;
                    } else if (this.sortBy === 'trainerId') {
                        return b.trainerId - a.trainerId;
                    }
                    return 0;
                });

                return filtered;
            },
            // 清除所有過濾條件
            clearFilters() {
                this.selectedGender = null;
                this.selectedExpertise = [];
                this.selectedCourseFee = "";
                this.sortBy = 'classCount';
            },
        },
        // 計算屬性，用來顯示出過濾和排序後的教練列表
        computed: {
            filteredTrainers() {
                return this.filterAndSort();
            }
        }

    }).mount('#app');
</script>

@*
1.全部教練資料 顯示教練照片、性別、introduce、courseFee
2.以classCount做排序-最熱門
3.以trainerId做排序-最新
4.以性別radio做篩選 true-女 false-男
5.以expertise做checkbox篩選
6.以courseFee做下拉式選單排序 0~1000、1001~2000
7.清空篩選條件按钮清空所有選擇*@