@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Chat.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.js"></script>
<script src="https://unpkg.com/vue@3"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>



<div id="chat">
    <button @@click="showChatHistory(79)">ChatHistory</button>
    <div v-if="isChatHistoryVisible" class="overlay">
        <div class="chat-modal">
            <div class="chat-header">
                <span class="close" @@click="isChatHistoryVisible = false">X</span>
            </div>
            <div class="chat-body">
                <div v-for="msg in chatHistory"
                     :class="{'chat-message-sent': msg.role === role, 'chat-message-received': msg.role !== role}">
                    <div class="chat-avatar">
                        <!-- 如果msg.photo存在，則顯示照片 -->
                        <img v-if="photoURLs[msg.senderId]" :src="photoURLs[msg.senderId]">
                        <!-- 否則，顯示ID -->
                        <div v-else>{{ msg.senderId }}</div>
                    </div>
                    <span class="chat-content">
                        {{ msg.messageContent }}
                    </span>
                </div>
            </div>
            <div class="chat-footer">
                <input v-model="message" placeholder="輸入訊息" @@keyup.enter="sendMessage" />
                <button @@click="sendMessage" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Chat.js"></script>