@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body{
        background-color: #fefefe
    }
    .col-form-label{
        width:auto;
    }
</style>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">Our Barber</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Our Barber</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- body start -->

<div class="container bg-white">
    <div class="container-fluid py-5 ">
        <div class="container text-center">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                 aria-label="breadcrumb">
                <ol class="breadcrumb" style="color: rgb(0, 0, 0);">
                    <li class="breadcrumb-item"><a href="index.html" style="color: rgb(0, 0, 0);">首頁</a></li>
                    <li class="breadcrumb-item">
                        <a href="personal_member.html" style="color: rgb(0, 0, 0);">教練專區</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">基本資料</li>
                </ol>
            </nav>
        </div>

        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="container member line">
                        <div class="nav" style="color: rgb(0, 0, 0);">
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Basic_Information.html"
                               class="nav-link nav-item ">基本資料</a>
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule_Time.html"
                               class="nav-link nav-item">課程</a>
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule.html"
                               class="nav-link nav-item">課表時程</a>
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule_Record.html"
                               class="nav-link nav-item">教課紀錄</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <hr>
    <!-- 會員基本資料 Start -->
    <div class="container">
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12">
                    <div class=" rounded h-100 p-4">

                        <form class="" style="background-color: #fff;">
                            <div class="row">
                                <div class="col">

                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="inputname" class="col-form-label">教練編號</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control mb-3" type="text" placeholder="0001"
                                                   aria-label="請輸入帳號" id="inputname" disabled>
                                        </div>
                                    </div>
                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="inputname" class="col-form-label">中文姓名</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control mb-3" type="text" placeholder="巨石強森"
                                                   aria-label="請輸入帳號" id="inputname" disabled>
                                        </div>
                                    </div>
                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="inputname" class="col-form-label">英文姓名</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control mb-3" type="text" placeholder="The Rock"
                                                   aria-label="請輸入帳號" id="inputname" disabled>
                                        </div>
                                    </div>
                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex">
                                        <div class="col-1">
                                            <legend class="col-form-label pt-0 pe-4">性別</legend>
                                        </div>
                                        <div class="col-8 d-flex justify-content-start" disabled>
                                            <div class="form-check me-3">
                                                <input class="form-check-input" type="radio" name="stateRadios"
                                                       id="gridRadios5" value="option5" disabled>
                                                <label class="form-check-label" for="gridRadios5">
                                                    男
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="stateRadios"
                                                       id="gridRadios6" value="option6" disabled>
                                                <label class="form-check-label" for="gridRadios6">
                                                    女
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="inputname" class="col-form-label">所在城市</label>
                                        </div>
                                        <div class="col-8">
                                            <select class="form-select" style="background-color: #f1f1f1;"
                                                    aria-label="縣市" name="add1" size="1" disabled>
                                                <option value="1">台北市</option>
                                                <option value="2">新北市</option>
                                                <option value="3">高雄市</option>
                                                <option value="3">台中市</option>
                                                <option value="3">台南市</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="inputname" class="col-form-label">第一場館</label>
                                        </div>
                                        <div class="col-8">
                                            <select class="form-select" style="background-color: #f1f1f1;"
                                                    aria-label="縣市" name="add1" size="1" disabled>
                                                <option value="1" select>萬華運動中心</option>
                                                <option value="2">台南運動中心</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="inputname" class="col-form-label">第二場館</label>
                                        </div>
                                        <div class="col-8">
                                            <select class="form-select" style="background-color: #f1f1f1;"
                                                    aria-label="縣市" name="add1" size="1" disabled>
                                                <option value="1">萬華運動中心</option>
                                                <option value="2" select>台南運動中心</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="inputname" class="col-form-label">希望待遇</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control mb-3" type="text" placeholder="$ 1,800"
                                                   aria-label="請輸入密碼" id="inputname" disabled>
                                        </div>
                                    </div>
                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="inputname" class="col-form-label">電話</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control mb-3" type="text" placeholder="0999-666-666"
                                                   aria-label="請輸入密碼" id="inputname" disabled>
                                        </div>
                                    </div>

                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="inputname" class="col-form-label">地址</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control mb-3" type="text"
                                                   placeholder="台南市陀螺灣扛三路二段80號" aria-label="請輸入地址" id="inputname"
                                                   disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <form>
                                            <div class="col">
                                                <img class="member img-head rounded-circle"
                                                     src="images/會員/user3.jpg" alt="">
                                            </div>


                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps"
                                                 style="margin-top: 50px;">
                                                <div class="col-1">
                                                    <label for="inputname" class="col-form-label">申請時間</label>
                                                </div>
                                                <div class="col-8">
                                                    <input class="form-select" style="background-color:#f1f1f1;"
                                                           type="date" name="birth" id="" value="2023-01-01" disabled>
                                                </div>
                                            </div>
                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                                <div class="col-1">
                                                    <label for="inputname" class="col-form-label">
                                                        履歷狀態
                                                    </label>
                                                </div>
                                                <div class="col-8">
                                                    <select class="form-select" style="background-color: #55f325;"
                                                            aria-label="縣市" name="add1" size="1" disabled>
                                                        <option value="1">公開</option>
                                                        <option value="2" select>隱藏</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                                <div class="col-1">
                                                    <label for="inputname" class="col-form-label">
                                                        審核狀態
                                                    </label>
                                                </div>
                                                <div class="col-8">
                                                    <select class="form-select" style="background-color: #55f325;"
                                                            aria-label="縣市" name="add1" size="1" disabled>
                                                        <option value="1">審核通過</option>
                                                        <option value="2" select>審核中</option>
                                                        <option value="2">退回審查</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                                <div class="col-1">
                                                    <label for="inputname" class="col-form-label">希望待遇</label>
                                                </div>
                                                <div class="col-8">
                                                    <input class="form-control mb-3" type="text"
                                                           placeholder="$ 1,800" aria-label="請輸入密碼" id="inputname"
                                                           disabled>
                                                </div>
                                            </div>
                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                                <div class="col-1">
                                                    <label for="inputname" class="col-form-label">電子信箱</label>
                                                </div>
                                                <div class="col-8">
                                                    <input class="form-control mb-3" type="text"
                                                           placeholder="acmki@gmail.com" aria-label="請輸入電子信箱"
                                                           id="inputemail" disabled>
                                                </div>
                                            </div>
                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                                <div class="col-1">
                                                    <label for="inputname" class="col-form-label">電話</label>
                                                </div>
                                                <div class="col-8">
                                                    <input class="form-control mb-3" type="text"
                                                           placeholder="0999-666-666" aria-label="請輸入密碼" id="inputname"
                                                           disabled>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col bg-white">
                                <div class="row">
                                    <!-- <div class="col"></div> -->
                                    <div class="col" style="margin-left: 50px;">
                                        <form>
                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                                <div class="col-1">
                                                    <label for="inputname" class="col-form-label">專長</label>
                                                </div>
                                                <div class="col-8">
                                                    <input type="checkbox" name="sport" value="sport1" id=""
                                                           disabled>肌肥大課程規劃
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="sport" value="sport2" id=""
                                                               disabled>胡鈴課程訓練
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="sport" value="sport3" id=""
                                                               disabled>體態評估雕塑
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="sport" value="sport4" id=""
                                                               disabled>增肌減脂
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="sport" value="sport5" id=""
                                                               disabled>拳擊訓練
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="sport" value="sport6" id=""
                                                               disabled>備賽指導
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="sport" value="sport7" id=""
                                                               disabled>功能性訓練
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="sport" value="sport8" id=""
                                                               disabled>銀髮族訓練
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                                <div class="col-1">
                                                    <label for="floatingTextarea">專業證照</label>
                                                </div>
                                                <div class="col-8">
                                                    <textarea class="form-control" id="floatingTextarea"
                                                              style="height: 200px;" name="mytext" rows="10" cols="40"
                                                              required disabled>
AFAA PFT美國運動體適能協會私人教練
bosumind&body certification 功能性訓練
vipr instructor certification 指導教練證
Boxercise L1、L2 拳擊訓練
中華民國角力協會國家B級教練證
ACE-CPT美國運動委員會認證私人教練</textarea>
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                    <div class="col">
                                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                            <div class="col-1">
                                                <label for="floatingTextarea">專業證照</label>
                                            </div>
                                            <div class="col-8">
                                                <textarea class="form-control" id="floatingTextarea"
                                                          style="height: 100px;" name="mytext" rows="5" cols="40" required
                                                          disabled>
102年全國大專院校運動會冠軍
澳洲拳擊THUMP Boxing教練
中華民國田徑C級教練
</textarea>
                                            </div>
                                        </div>
                                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                            <div class="col-1">
                                                <label for="floatingTextarea">專業證照</label>
                                            </div>
                                            <div class="col-8">
                                                <textarea class="form-control" id="floatingTextarea"
                                                          style="height: 400px;" name="mytext" rows="6" cols="80" required
                                                          disabled>我擁有多年的健身教練經驗，曾在不同的健身中心和私人健身房工作，涵蓋了各種年齡層和健康狀況的客戶。我能夠根據個人需求和目標，量身打造適合的運動計劃和營養建議，以確保每位學員能夠達到最佳效果。我相信積極的激勵和良好的溝通是成功的關鍵。我善於聆聽學員的需求和困擾，並通過鼓勵、支持和正面的反饋來激發他們的潛力。我總是保持著積極態度，並以身作則，成為學員的良好榜樣。在我的指導下，許多學員取得了驚人的健康成果，包括減重、增加肌肉質量、改善體能等。我非常享受看到他們的進步和幸福，這也是我作為教練的最大動力。我期待著與更多有志改變生活的人共事，共同實現健康目標。如果給我這個機會，我將全力以赴，為每一位學員提供最專業的指導和最溫暖的伴。</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container text-center">
                                        <button type="button" class="btn rounded-pill m-2"
                                                style="background-color: #F24B88;">
                                            <a href="personal_trainer_Basic_Information_Data_Modification.html"
                                               style="color: #fff;">修改</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->
<!-- 會員基本資料 End -->
<!-- body end -->
