@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body{
        background-color: #fefefe
    }
    .col-form-label{
        width:auto;
    }
</style>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">Our Barber</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Our Barber</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- body start -->

<div class="container bg-white">
    <div class="container-fluid py-5 ">
        <div class="container text-center">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                 aria-label="breadcrumb">
                <ol class="breadcrumb" style="color: rgb(0, 0, 0);">
                    <li class="breadcrumb-item"><a href="index.html" style="color: rgb(0, 0, 0);">首頁</a></li>
                    <li class="breadcrumb-item">
                        <a href="personal_member.html" style="color: rgb(0, 0, 0);">教練專區</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">基本資料</li>
                </ol>
            </nav>
        </div>

        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="container member line">
                        <div class="nav" style="color: rgb(0, 0, 0);">
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Basic_Information.html"
                               class="nav-link nav-item ">基本資料</a>
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule_Time.html"
                               class="nav-link nav-item">課程</a>
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule.html"
                               class="nav-link nav-item">課表時程</a>
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule_Record.html"
                               class="nav-link nav-item">教課紀錄</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <hr>
    <!-- 會員基本資料 Start -->
    <div class="container">
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12">
                    <div class=" rounded h-100 p-4">

                        <form class="" style="background-color: #fff;">
                            <div class="row">
                                <div class="col">

                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">

                                    </div>
                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="trainerNameInput" class="col-form-label">中文姓名</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control mb-3" type="text"  id="trainerNameInput" disabled>
                                        </div>
                                    </div>

                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                    </div>



                                    <!-- 希望待遇 -->
                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="trainercourseFeeInput" class="col-form-label">希望待遇</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control mb-3" type="text" 
                                                   aria-label="希望待遇" id="trainercourseFeeInput" disabled>
                                        </div>
                                    </div>
                                    <!-- 電話 -->
                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="trainerPhoneInput" class="col-form-label">電話</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control mb-3" type="text" 
                                                   aria-label="電話" id="trainerPhoneInput" disabled>
                                        </div>
                                    </div>


                                    <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                        <div class="col-1">
                                            <label for="trainerAddressInput" class="col-form-label">地址</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control mb-3" type="text"
                                                   placeholder="台南市陀螺灣扛三路二段80號" aria-label="請輸入地址"
                                                   id="trainerAddressInput" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <form>
                                            <div class="col">
                                                <img class="member img-head rounded-circle"
                                                     src="images/會員/user3.jpg" alt="">
                                            </div>


                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps"
                                                 style="margin-top: 50px;">
                                                <div class="col-1">
                                                    <label for="inputname" class="col-form-label">申請時間</label>
                                                </div>
                                                <div class="col-8">
                                                    <input class="form-select" style="background-color:#f1f1f1;"
                                                           type="date" name="birth" id="" value="2023-01-01" disabled>
                                                </div>
                                            </div>
                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                                <div class="col-1">
                                                    <label for="inputname" class="col-form-label">
                                                        履歷狀態
                                                    </label>
                                                </div>
                                                <div class="col-8">
                                                    <select class="form-select" style="background-color: #55f325;"
                                                            aria-label="縣市" name="add1" size="1" disabled>
                                                        <option value="1">公開</option>
                                                        <option value="2" select>隱藏</option>
                                                    </select>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col bg-white">
                                <div class="row">
                                    <!-- <div class="col"></div> -->
                                    <div class="col" style="margin-left: 50px;">
                                        <form>
                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                                <div class="col-1">
                                                    <label for="inputname" class="col-form-label">專長</label>
                                                </div>
                                                <div class="col-8" id="checkboxContainer">
                                                </div>
                                            </div>

                                            <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                                <div class="col-1">
                                                    <label for="trainerCertificateInput">專業證照</label>
                                                </div>
                                                <div class="col-8">
                                                    <textarea class="form-control" id="trainerCertificateInput"
                                                              style="height: 200px;" name="mytext" rows="10" cols="40"
                                                              required disabled></textarea>
                                                </div>
                                            </div>


                                        </form>
                                    </div>

                                    <div class="col">
                                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                            <div class="col-1">
                                                <label for="trainerAwardsInput">獎項事蹟</label>
                                            </div>
                                            <div class="col-8">
                                                <textarea class="form-control" id="trainerAwardsInput"
                                                          style="height: 100px;" name="mytext" rows="5" cols="40" required
                                                          disabled></textarea>
                                            </div>

                                        </div>
                                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                                            <div class="col-1">
                                                <label for="trainerIntroduceInput">簡介</label>
                                            </div>
                                            <div class="col-8">
                                                <textarea class="form-control" id="trainerIntroduceInput"
                                                          style="height: 400px;" name="mytext" rows="6" cols="80" required
                                                          disabled></textarea>
                                            </div>
                                        </div>

                                    <div class="container text-center">
                                        <button type="button" class="btn rounded-pill m-2"
                                                style="background-color: #F24B88;">
                                            <a href="personal_trainer_Basic_Information_Data_Modification.html"
                                               style="color: #fff;">修改</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->
<!-- 會員基本資料 End -->
<!-- body end -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    function populateCheckboxes(data) {
        const container = $('#checkboxContainer');
        data.forEach(item => {
            const checkbox = $(`<input type="checkbox" name="expertise" value="${item.className}" disabled>`);
            const label = $('<label></label>').text(item.className).prepend(checkbox);
            container.append(label);
        });
    }


    $(document).ready(function () {
        const trainerId = 3;

        // 第一個 AJAX 請求
        $.ajax({
            url: 'https://localhost:7011/api/Trainer/' + trainerId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#trainerNameInput').val(data.trainerName);
                $('#trainerAddressInput').val(data.address);
                $('#trainerBirthdayInput').val(data.birthday); // 這裡需要確認
                $('#trainerPhoneInput').val(data.phone); // 這裡需要確認
                // 將逗號替換為換行符，然後設定到文本區域
                let certificateText = data.certificate.replace(/,/g, '\n');
                $('#trainerCertificateInput').val(certificateText);
                $('#trainerexpertiseInput').val(data.expertise); // 這裡需要確認
                // 將experience字段中的逗號替換為換行符
                let experienceText = data.experience.replace(/,/g, '\n');
                $('#trainerAwardsInput').val(experienceText);
                $('#trainercourseFeeInput').val(data.courseFee); // 這裡需要確認
                $('#trainerIntroduceInput').val(data.introduce);
                const expertiseArray = data.expertise.split(",");
                expertiseArray.forEach(exp => {
                    $(`input[name="expertise"][value="${exp.trim()}"]`).prop('checked', true);
                });




                // ... 其他的資料設定
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });

        // 第二個 AJAX 請求
        $.ajax({
            url: 'https://localhost:7011/api/ClassType',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                populateCheckboxes(data);
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
    });
</script>



