@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- personal 樣式 -->
<link rel="stylesheet" href="~/css/PersonalStyle.css">
<style>
    .rounded-image-container {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        overflow: hidden;
    }

    .rounded-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /*專長欄位*/
    .checkbox-container {
        display: flex;
        flex-wrap: wrap;
    }

    .checkbox-item {
        flex-basis: 50%;
        display: flex;
        align-items: center;
    }

        .checkbox-item::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 8px;
        }
</style>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">Personal</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Personal</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- body start -->

<div class="container bg-white">
    <div class="container-fluid py-5 ">
        <div class="container text-center">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                 aria-label="breadcrumb">
                <ol class="breadcrumb" style="color: rgb(0, 0, 0);">
                    <li class="breadcrumb-item"><a href="index.html" style="color: rgb(0, 0, 0);">首頁</a></li>
                    <li class="breadcrumb-item">
                        <a href="personal_member.html" style="color: rgb(0, 0, 0);">教練專區</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">基本資料</li>
                </ol>
            </nav>
        </div>

        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="container member line">
                        <div class="nav" style="color: rgb(0, 0, 0);">
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Basic_Information.html"
                               class="nav-link nav-item a-active">基本資料</a>
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule_Time.html"
                               class="nav-link nav-item">課程</a>
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule.html"
                               class="nav-link nav-item">課表時程</a>
                            <a style="color: rgb(0, 0, 0);" href="personal_trainer_Schedule_Record.html"
                               class="nav-link nav-item">教課紀錄</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- 會員基本資料 Start -->
    <div class="container">
        <div class="container-fluid pt-4 px-4">
            <form>
                <div class="row justify-content-between">
                    <!--左攔-->
                    <div class="col-6">
                        <!-- 申請時間 -->
                        <div class="row align-items-center mb-3">
                            <label for="inputname" class="col-3 text-center col-form-label">申請時間</label>
                            <div class="col-9">
                                <input class="form-select" style="background-color:#f1f1f1;"
                                       type="date" name="birth" id="" value="2023-01-01" disabled>
                            </div>
                        </div>
                        <!-- 履歷狀態 -->
                        <div class="row align-items-center mb-3">
                            <label for="inputname" class="col-3 text-center col-form-label">
                                履歷狀態
                            </label>
                            <div class="col-9">
                                <select class="form-select"
                                        aria-label="縣市" name="add1" size="1" disabled>
                                    <option value="1">公開</option>
                                    <option value="2" select>隱藏</option>
                                </select>
                            </div>
                        </div>
                        <!-- 姓名 -->
                        <div class="row align-items-center mb-3">
                            <label for="trainerNameInput" class="col-3 text-center col-form-label">中文姓名</label>
                            <div class="col-9">
                                <input class="form-control mb-3" type="text" id="trainerNameInput" disabled>
                            </div>
                        </div>
                        <!-- 希望待遇 -->
                        <div class="row align-items-center mb-3">
                            <label for="trainercourseFeeInput" class="col-3 text-center col-form-label">希望待遇</label>
                            <div class="col-9">
                                <input class="form-control mb-3" type="text" aria-label="希望待遇" id="trainercourseFeeInput" disabled>
                            </div>
                        </div>
                        <!-- 電話 -->
                        <div class="row align-items-center mb-3">
                            <label for="trainerPhoneInput" class="col-3 text-center col-form-label">電話</label>
                            <div class="col-9">
                                <input class="form-control mb-3" type="text"
                                       aria-label="電話" id="trainerPhoneInput" disabled>
                            </div>
                        </div>
                        <!-- 地址 -->
                        <div class="row align-items-center mb-3">
                            <label for="trainerAddressInput" class="col-3 text-center col-form-label">地址</label>
                            <div class="col-9">
                                <input class="form-control mb-3" type="text"
                                       placeholder="台南市陀螺灣扛三路二段80號" aria-label="請輸入地址"
                                       id="trainerAddressInput" disabled>
                            </div>
                        </div>
                    </div>
                    <!-- 第二攔 -->
                    <!-- 照片 -->
                    <div class="col-6 d-flex justify-content-center ps-5">
                        <div class="rounded-image-container">
                            <img class="rounded-image" id="trainer-img" alt="Trainer Image" />
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 第二區塊 -->
                <div class="row justify-content-between">
                    <!-- 第一攔 -->
                    <div class="col-6">
                        <!-- 專長 -->
                        <div class="row align-items-center mb-3">
                            <label for="inputname" class="col-3 text-center col-form-label">專長</label>
                            <div class="col-9" id="checkboxContainer">
                            </div>
                        </div>
                        <!-- 專業證照 -->
                        <div class="row align-items-center mb-3">
                            <label for="trainerCertificateInput" class="col-3 text-center col-form-label">專業證照</label>
                            <div class="col-9">
                                <textarea class="form-control" id="trainerCertificateInput"
                                          style="height: 200px;" name="mytext" rows="10" cols="40"
                                          required disabled></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- 第二攔 -->
                    <div class="col-6">
                        <!-- 獎項事蹟 -->
                        <div class="row align-items-center mb-3">
                            <label for="trainerAwardsInput" class="col-3 text-center col-form-label">獎項事蹟</label>
                            <div class="col-9">
                                <textarea class="form-control" id="trainerAwardsInput"
                                          style="height: 100px;" name="mytext" rows="5" cols="40" required
                                          disabled></textarea>
                            </div>
                        </div>
                        <!-- 簡介 -->
                        <div class="row align-items-center mb-3">
                            <label for="trainerIntroduceInput" class="col-3 text-center col-form-label">簡介</label>
                            <div class="col-9">
                                <textarea class="form-control" id="trainerIntroduceInput"
                                          style="height: 400px;" name="mytext" rows="6" cols="80" required
                                          disabled></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="container text-center">
                        <button type="button" class="btn rounded-pill m-2"
                                style="background-color: #F24B88;">
                            <a href="personal_trainer_Basic_Information_Data_Modification.html"
                               style="color: #fff;">修改</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Form End -->
<!-- 會員基本資料 End -->
<!-- body end -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    function populateCheckboxes(data) {
        const container = $('#checkboxContainer');
        data.forEach(item => {
            const checkbox = $(`<input type="checkbox" name="expertise" value="${item.className}" disabled>`);
            const label = $('<label></label>').text(item.className).prepend(checkbox);
            container.append(label);
        });
    }


    $(document).ready(function () {
        const trainerId = 1;

        // 第一個 AJAX 請求
        $.ajax({
            url: 'https://localhost:7011/api/Trainer/' + trainerId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#trainerNameInput').val(data.trainerName);
                $('#trainerAddressInput').val(data.address);
                $('#trainerBirthdayInput').val(data.birthday); // 這裡需要確認
                $('#trainerPhoneInput').val(data.phone); // 這裡需要確認
                // 將逗號替換為換行符，然後設定到文本區域
                let certificateText = data.certificate.replace(/,/g, '\n');
                $('#trainerCertificateInput').val(certificateText);
                $('#trainerexpertiseInput').val(data.expertise); // 這裡需要確認
                // 將experience字段中的逗號替換為換行符
                let experienceText = data.experience.replace(/,/g, '\n');
                $('#trainerAwardsInput').val(experienceText);
                $('#trainercourseFeeInput').val(data.courseFee); // 這裡需要確認
                $('#trainerIntroduceInput').val(data.introduce);
                const expertiseArray = data.expertise.split(",");
                expertiseArray.forEach(exp => {
                    $(`input[name="expertise"][value="${exp.trim()}"]`).prop('checked', true);
                });
                //let blobData = data.photo;
                //let blob = new Blob([blobData], { type: 'image/jpeg' });
                //let reader = new FileReader();
                //reader.readAsDataURL(blob);
                //reader.onloadend = function () {
                //    let base64data = reader.result;
                //    $('.member').attr('src', base64data);
                //}
                var Photo = data.photo; //照片
                // 更新教練照片
                var trainerPhotoElement = document.querySelector("#trainer-img");

                trainerPhotoElement.onerror = function () {
                    trainerPhotoElement.src = "./images/nopersonal.jpg";
                };

                var trainerImageBase64 = data.photo; // 從API獲取的Base64編碼的照片
                trainerPhotoElement.src = "data:image/jpeg;base64," + trainerImageBase64; // 直接將圖像設置為src


                // ... 其他的資料設定
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });

        // 第二個 AJAX 請求
        $.ajax({
            url: 'https://localhost:7011/api/ClassType',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                populateCheckboxes(data);
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
    });
</script>



