@{
    ViewBag.SubLayout = "Trainer";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}


<!-- personal 樣式 -->
<link rel="stylesheet" href="~/css/PersonalStyle.css">
<style>
    .rounded-image-container {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        overflow: hidden;
    }

    .rounded-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /*專長欄位*/
    .checkbox-container {
        display: flex;
        flex-wrap: wrap;
    }

    .checkbox-item {
        flex-basis: 50%;
        display: flex;
        align-items: center;
    }

        .checkbox-item::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 8px;
        }

    .rounded-image-container {
        position: relative;
        width: 350px; /* 可根据需要修改 */
        height: 350px; /* 可根据需要修改 */
    }

    .file-input {
        display: none;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5); /* 透明背景 */
        opacity: 0;
        transition: .5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rounded-image-container:hover .overlay {
        opacity: 1;
    }

    .edit-photo-button {
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

</style>

<!-- 會員基本資料 Start -->
<div class="container">
    <div class="container-fluid pt-4 px-4">
            <div class="row justify-content-between">
                <!-- 左攔 -->
                <div class="col-6">


                    <!-- 姓名 -->
                    <div class="row align-items-center mb-3">
                        <label for="trainerNameInput" class="col-3 text-center col-form-label">中文姓名</label>
                        <div class="col-9">
                            <input class="form-control mb-3" type="text" id="trainerNameInput" name="trainerName">
                        </div>
                    </div>
                    <!-- 希望待遇 -->
                    <div class="row align-items-center mb-3">
                        <label for="trainercourseFeeInput" class="col-3 text-center col-form-label">希望待遇</label>
                        <div class="col-9">
                            <input class="form-control mb-3" type="text" aria-label="希望待遇" id="trainercourseFeeInput" name="trainerCourseFee">
                        </div>
                    </div>
                    <!-- 電話 -->
                    <div class="row align-items-center mb-3">
                        <label for="trainerPhoneInput" class="col-3 text-center col-form-label">電話</label>
                        <div class="col-9">
                            <input class="form-control mb-3" type="text" aria-label="電話" id="trainerPhoneInput" name="trainerPhone">
                        </div>
                    </div>
                    <!-- 地址 -->
                    <div class="row align-items-center mb-3">
                        <label for="trainerAddressInput" class="col-3 text-center col-form-label">地址</label>
                        <div class="col-9">
                            <input class="form-control mb-3" type="text" placeholder="台南市陀螺灣扛三路二段80號" aria-label="請輸入地址" id="trainerAddressInput" name="trainerAddress">
                        </div>
                    </div>
                </div>
                <!-- 第二攔 -->
                <!-- 照片 -->
                <div class="col-6 d-flex justify-content-center ps-5">
                    <div class="rounded-image-container">
                        <input type="file" id="imageInput" onchange="encodeImageToBase64()" class="file-input">
                        <img class="rounded-image" id="trainer-img" alt="Trainer Image" />
                        <div class="overlay">
                            <button class="edit-photo-button" type="button">更改照片</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 第二區塊 -->
            <div class="row justify-content-between">
                <!-- 第一攔 -->
                <div class="col-6">
                    <!-- 專長 -->
                    <div class="row align-items-center mb-3">
                        <label for="inputname" class="col-3 text-center col-form-label">專長</label>
                    <div class="col-9" id="checkboxContainer">
                        <!-- 這裡是專長的核取框模板 -->
                        <script type="text/template" id="checkboxTemplate">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="expertise" id="expertise_<%= id %>" value="<%= className %>">
                                <label class="form-check-label" for="expertise_<%= id %>">
                                    <%= className %>
                                </label>
                            </div>
                        </script>
                    </div>
                    </div>
                    <!-- 專業證照 -->
                    <div class="row align-items-center mb-3">
                        <label for="trainerCertificateInput" class="col-3 text-center col-form-label">專業證照</label>
                        <div class="col-9">
                <textarea class="form-control" id="trainerCertificateInput" style="height: 200px;" name="trainerCertificate" rows="10" cols="40" required></textarea>
                        </div>
                    </div>
                </div>
                <!-- 第二攔 -->
                <div class="col-6">
                    <!-- 獎項事蹟 -->
                    <div class="row align-items-center mb-3">
                        <label for="trainerAwardsInput" class="col-3 text-center col-form-label">獎項事蹟</label>
                        <div class="col-9">
            <textarea class="form-control" id="trainerAwardsInput" style="height: 100px;" name="trainerAwards" rows="5" cols="40" required></textarea>
                        </div>
                    </div>
                    <!-- 簡介 -->
                    <div class="row align-items-center mb-3">
                        <label for="trainerIntroduceInput" class="col-3 text-center col-form-label">簡介</label>
                        <div class="col-9">
            <textarea class="form-control" id="trainerIntroduceInput" style="height: 400px;" name="trainerIntroduce" rows="6" cols="80" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="container text-center">
                    <button id="saveButton" class="btn rounded-pill m-2" data-href="@Url.Action("Index", "Trainer")" style="background-color: #F24B88; color: #fff;">儲存</button>
                </div>
            </div>
    </div>
</div>
<!-- Form End -->
<!-- 會員基本資料 End -->
<!-- body end -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    const TrainerIdFromSession = sessionStorage.getItem('trainerId');

    console.log("Retrieved trainerId on edit page:", TrainerIdFromSession);

    // 生成專長的核取框
    function populateCheckboxes(data) {
        const container = $('#checkboxContainer');
        const template = _.template($("#checkboxTemplate").html());

        data.forEach((item, index) => {
            container.append(template({ className: item.className, id: index }));
        });
    }

    // 用於根據教練數據勾選專長
    function checkExpertisesForTrainer(data) {
        if (!data.expertise) {  // 檢查是否存在
            console.warn("Expertise data is missing or null");
            return;  // 如果不存在，直接返回
        }

        const expertiseArray = data.expertise.split(",");
        expertiseArray.forEach(exp => {
            $(`input[name="expertise"][value="${exp.trim()}"]`).prop('checked', true);
        });
    }


    function encodeImageToBase64() {
        const file = document.querySelector('#imageInput').files[0];
        const reader = new FileReader();

        reader.onloadend = function () {
            document.querySelector("#trainer-img").src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    function collectFormData() {
        const certificateVal = $('#trainerCertificateInput').val() || "";
        const awardsVal = $('#trainerAwardsInput').val() || "";

        const formData = {
            trainerName: $('#trainerNameInput').val() || "",
            address: $('#trainerAddressInput').val() || "",
            phone: $('#trainerPhoneInput').val() || "",
            certificate: certificateVal.replace(/\n/g, ','),
            expertise: [],
            experience: awardsVal.replace(/\n/g, ','),
            courseFee: parseInt($('#trainercourseFeeInput').val()) || null,
            introduce: $('#trainerIntroduceInput').val() || "",
            photo: document.querySelector("#trainer-img").src.split(",")[1] || null
        };

        $(`input[name="expertise"]:checked`).each(function () {
            formData.expertise.push($(this).val());
        });
        formData.expertise = formData.expertise.join(',');

        return formData;
    }

    function saveAllInfo() {
        const data = collectFormData();
        data.salt = SaltFromSession;

        console.log("Using Salt from Session Storage:", SaltFromSession);

        $.ajax({
            url: 'https://localhost:7011/api/Trainer/' + TrainerIdFromSession,
            type: 'PUT',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                if (response.status === "success") {
                    alert(response.message);

                    sessionStorage.setItem('trainerId', TrainerIdFromSession);
                    console.log("Saved trainerId:", sessionStorage.getItem('trainerId'));

                    // 在成功回调中执行页面跳转
                    window.location.href = $('#saveButton').data('href');
                } else {
                    alert('保存失敗，請稍後再試。');
                }
            },
            error: function (error) {
                console.log("Error:", error.responseText);
                alert('保存失敗，請稍後再試。');
            }
        });
    }


    $(document).ready(function () {
        $(".edit-photo-button").click(function (event) {
            event.preventDefault();
            $("#imageInput").click();
        });

        $.ajax({
            url: 'https://localhost:7011/api/ClassType',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                populateCheckboxes(data);


                $.ajax({
                    url: 'https://localhost:7011/api/Trainer/' + TrainerIdFromSession,
                    type: 'GET',
                    dataType: 'json',

                    success: function (trainerData) {
                        $('#trainerNameInput').val(trainerData.trainerName);
                        $('#trainerAddressInput').val(trainerData.address);
                        $('#trainerPhoneInput').val(trainerData.phone);
                        SaltFromSession = trainerData.salt;
                        if (SaltFromSession) {
                            sessionStorage.setItem('SaltFromSession', SaltFromSession);
                            console.log("Retrieved Salt from API:", SaltFromSession); // 打印從API取得的salt值
                        }
                        let certificateText = trainerData.certificate ? trainerData.certificate.replace(/,/g, '\n') : "";
                        $('#trainerCertificateInput').val(certificateText);
                        $('#trainerexpertiseInput').val(trainerData.expertise);

                        let experienceText = trainerData.experience ? trainerData.experience.replace(/,/g, '\n') : "";
                        $('#trainerAwardsInput').val(experienceText);
                        $('#trainercourseFeeInput').val(trainerData.courseFee);
                        $('#trainerIntroduceInput').val(trainerData.introduce);

                        checkExpertisesForTrainer(trainerData);

                        var trainerPhotoElement = document.querySelector("#trainer-img");

                        trainerPhotoElement.onerror = function () {
                            trainerPhotoElement.src = "./images/nopersonal.jpg";
                        };

                        var trainerImageBase64 = trainerData.photo;
                        trainerPhotoElement.src = "data:image/jpeg;base64," + trainerImageBase64;
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });

        $('#saveButton').click(function (event) {
            event.preventDefault();
            saveAllInfo();
        });
    });
</script>





