
@{
    ViewData["Title"] = "Index";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">MY SCHEDULE</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">MEMBER</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- body start -->

<div class="container ">
    <div class="container text-center">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
             aria-label="breadcrumb">
            <ol class="breadcrumb" style="color: rgb(0, 0, 0);">
                <li class="breadcrumb-item"><a href="index.html" style="color: rgb(0, 0, 0);">首頁</a></li>
                <li class="breadcrumb-item">
                    <a href="personal_member.html" style="color: rgb(0, 0, 0);">我的會員專區</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">我的課表</li>
            </ol>
        </nav>
    </div>

    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="container member line">
                    <div class="nav" style="color: rgb(0, 0, 0);">
                        <a style="color: rgb(0, 0, 0);" href="personal_member.html"
                           class="nav-link nav-item ">基本資料</a>
                        <a style="color: rgb(0, 0, 0);" href="personal_member_Order_Traking.html"
                           class="nav-link nav-item">訂單查詢</a>
                        <a style="color: rgb(0, 0, 0);" href="personal_member_favorite_list.html"
                           class="nav-link nav-item">收藏清單</a>
                        <a style="color: rgb(0, 0, 0);" href="personal_member_My_Schedule.html"
                           class="nav-link nav-item">我的課表</a>
                        <a style="color: rgb(0, 0, 0);" href="personal_member_Customer_Service_Records.html"
                           class="nav-link nav-item">客服紀錄</a>
                    </div>
                </div>
        </nav>
    </div>

    <hr>
    <div class="container">
        <ul class="list-style-type-none">
            <li>李大明</li>
            <li>一般會員</li>
            <li>ispan@yahoo.com.tw</li>
            <li>年度累積消費金額 NT.3,509</li>
        </ul>
    </div>

    <hr>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div>
                <button type="button" style="background-color: #ff005d" class="btn btn-primary personalBtn">
                    <a style="color: aliceblue;" href="personal_member_My_Schedule.html">我的課表</a>
                </button>
            </div>
            <div>
                <button type="button" style="background-color: #F24B88 " class="btn btn-primary personalBtn">
                    <a style="color: aliceblue;" href="personal_member_My_Schedule_Record.html">我的課程紀錄</a>
                </button>
            </div>

        </nav>
    </div>
    <hr>

    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div>
                <span class="float-right">已完課</span>

                <span class="float-right"
                      style="background-color:rgb(19, 19, 19);color: rgb(19, 19, 19);  border: 1px solid rgb(19, 19, 19); width: 30px;height: 30px; padding: 5px;">
                    O
                </span>
                <span class="float-right">
                    尚未上課
                </span>
                <span class="float-right"
                      style="background-color:lightblue;color: lightblue;  border: 1px solid gray; width: 30px;height: 30px; padding: 5px;">
                    O
                </span>
                <span class="float-right">
                    今日
                </span>
                <span class="float-right"
                      style="background-color:rgb(172, 138, 138);color: rgb(172, 138, 138);  border: 1px solid gray; width: 30px;height: 30px; padding: 5px;">
                    O
                </span>

            </div>
        </nav>
    </div>
    <table class="table  text-center table-bordered tableclass" style="color: aliceblues;">
        <thead>
            <tr style=" background-color: rgb(19, 19, 19);">
                <th colspan="9">2023</th>
            </tr>
            <tr style="background-color: rgb(19, 19, 19);">
                <th></th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>G</th>
                <th>H</th>
            </tr>

            <tr style="background-color: rgb(19, 19, 19);">
                <th style="background-color: rgb(19, 19, 19);">1</th>
                <th></th>
                <th>
                    7/10(一)
                </th>
                <th>
                    7/11(二)
                </th>
                <th>
                    7/12(三)
                </th>
                <th>
                    7/13(四)
                </th>
                <th>
                    7/14(五)
                </th>
                <th>
                    7/15(六)
                </th>
                <th>
                    7/16(日)
                </th>
            </tr>
        </thead>

        <tbody style="background-color: black;" ">
            <tr>
                <td style=" background-color: rgb(19, 19, 19);">2</td>
                <td style="color: aliceblue;">09:00</td>
                <td style="background-color: rgb(172, 138, 138);"></td>
                <td style="color: aliceblue;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="background-color: rgb(19, 19, 19);">3</td>
                <td style="color: aliceblue;">10:00</td>
                <td style="background-color: rgb(172, 138, 138);"></td>
                <td style="background-color: lightblue;">The Rock</td>
                <td></td>
                <td style="background-color: lightblue;">The Rock</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="background-color: rgb(19, 19, 19);">4</td>
                <td style="color: aliceblue;">11:00</td>
                <td style="background-color: rgb(172, 138, 138);"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="background-color: rgb(19, 19, 19);">5</td>
                <td style="color: aliceblue;">12:00</td>
                <td style="background-color: rgb(172, 138, 138);"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="background-color: rgb(19, 19, 19);">6</td>
                <td style="color: aliceblue;">13:00</td>
                <td style="background-color: rgb(172, 138, 138);"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="background-color: rgb(19, 19, 19);">7</td>
                <td style="color: aliceblue;">14:00</td>
                <td style="background-color: rgb(172, 138, 138);"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="background-color: rgb(19, 19, 19);">8</td>
                <td style="color: aliceblue;">15:00</td>
                <td style="background-color: rgb(172, 138, 138);"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="background-color: rgb(19, 19, 19);">9</td>
                <td style="color: aliceblue;">16:00</td>
                <td style="background-color: gray;">Yagoo</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="background-color: rgb(19, 19, 19);">10</td>
                <td style="color: aliceblue;">17:00</td>
                <td style="background-color: rgb(172, 138, 138);"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="background-color: rgb(19, 19, 19);">11</td>
                <td style="color: aliceblue;">18:00</td>
                <td style="background-color: rgb(172, 138, 138);"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead class="table-danger">
                <tr>
                    <th>時間</th>
                    <th>教練</th>
                    <th colspan="2">課程名稱</th>
                    <th colspan="2">地點</th>
                    <th>狀態</th>
                </tr>
            </thead>
            <tbody class="class tr">
                <tr>
                    <td>2023/07/10 16:00</td>
                    <td>Yagoo</td>
                    <td colspan="2"><img src="images/教練/team-1.jpg" alt="" style="width: 100px;">肌肥大訓練</td>
                    <td colspan="2">
                        <img src="images/gym/五股運動中心.jpg" alt="">106台北市大安區新生南路二段1號
                    </td>
                    <td>已完課</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>
<!-- body end -->
