@{
    ViewData["Title"] = "MemberFavorite";
}

<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/vuex@4"></script>


<style scoped>

    /* 圓形框框樣式 */
    .card-image img {
        width: 250px;
        height: 330px;
        object-fit: cover; /* 確保圖片在容器內完整顯示 */
        overflow: hidden;
    }


    .card1:hover img {
        transform: scale(1.1);
    }



    .card {
        flex-direction: column;
        border-radius: 20px;
        height: 100%;
        display: flex;
    }

    /* personal_member */
    body {
        background-color: #fff;
    }

    .container .navbar-expand-lg {
        border: 1px solid #ececec;
    }

    button {
        background-color: #F24B88;
        color: #ffffff;
    }

    active .cc {
        border-bottom: 3px solid #F24B88;
    }

    .member.line a:hover,
    .member.line a:active {
        border-bottom: 2px solid #F24B88;
    }

    .member.ac ol li a {
        border-bottom: 2px solid #F24B88;
    }

    /* 分隔符 */

    $breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");

    figure {
        width: 35%;
        padding: 5px;
        float: right;
        margin-right: 20px;
    }


    /* 圓形框框樣式 */
    .round-image {
        border-radius: 50%;
        /* 50% 會將元素變成圓形 */
        overflow: hidden;
        /* 超出元素範圍的部分隱藏 */
        width: 500px;
        /* 調整圖片寬度 */
        height: 500px;
        /* 調整圖片高度 */
        margin: 0 auto;
        /* 水平居中 */
    }

        /* 圖片樣式 */
        .round-image img {
            width: 100%;
            /* 讓圖片自適應容器大小 */
            height: auto;
        }

    li label {
        margin: 25px;
    }

    .personalBtn {
        border-radius: 25px;
        margin-left: 50px;
    }

    .serviceBtn button {
        background-color: #F24B88;
        /* border-radius: 25px; */
    }

    /* personal 表單元素 table */

    ul li {
        list-style-type: none;
    }

    .tb1 {
        width: 400px;
        border: 3px solid #0072E3;
        border-collapse: collapse;
    }

    td,
    th {
        border-bottom: 1px solid gray;
        text-align: center;
    }

    /* table {
                                margin: 50px;
                                padding: 50px;
                            } */

    thead {
        background-color: #2b2b2b;
        color: #ffffff;
        text-transform: capitalize;
        margin: 60px;
        padding: 60px;
        text-align: center;
    }

    tbody {
        text-align: center;
    }

    .cc.vv td:hover {
        background-color: rgba(145, 145, 145, 0.603);
        color: rgb(26, 26, 26);
    }

    .favotitelist.img1 {
        width: 100px;
    }

    /* personal 收藏清單 */



    .favoriteTag {
        border: 1px solid #acd6ff;
        border-radius: 10px;
    }

    .h-150px {
        height: 150px;
    }

    .mh-250px {
        min-height: 250px;
    }

    .h-300px {
        height: 300px;
    }

    .w-600px {
        /* width: 600px; */
    }

    .fz-40px {
        font-size: 40px;
    }

    .fz-12px {
        font-size: 12px;
    }

    .op5 {
        opacity: 0.5;
    }

    .cup {
        cursor: pointer;
    }

    .card1 img {
        transition: all 0.2s;
    }

    /* 圓形框框樣式 */
    .card-image {
        overflow: hidden;
        /* 超出元素範圍的部分隱藏 */
        width: 220px;
        /* 調整圖片寬度 */
        height: 220px;
        /* 調整圖片高度 */
        margin: 0 auto;
        /* 水平居中 */
    }

        /* 圖片樣式 */
        .card-image img {
            width: 100%;
            /* 讓圖片自適應容器大小 */
            height: auto;
        }




    .card1:hover img {
        transform: scale(1.1);
    }

    /* .card {
                                width: 250px;
                            } */

    /* personal 超連結 */
    a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
    }

    /* personal_course */

    .text-center {
        text-align: center;
    }

    .coursebody {
        background-color: #000;
    }

    .course-single-body {
        background-color: #000;
    }


    .list-group-item {
        background: linear-gradient(90deg, #f24b88 0%, #bd00ff 100%);
    }


    /* personal_member */
    figure {
        width: 35%;
        padding: 5px;
        float: right;
        margin-right: 20px;
    }

    .member.img-head {
        width: 300px;
    }

    li label {
        margin: 25px;
    }

    .personalBtn1 {
        border-radius: 25px;
    }

    /* personal 表單元素 table */

    .tb1 {
        width: 400px;
        border: 3px solid #0072E3;
        border-collapse: collapse;
    }

    td,
    th {
        border-bottom: 1px solid gray;
        text-align: center;
    }


    thead {
        color: #ffffff;
        text-transform: capitalize;
        margin: 60px;
        padding: 60px;
        text-align: center;
    }

    tbody {
        margin-right: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }



    .tableclass tbody td:hover {
        background-color: rgba(145, 145, 145, 0.603);
        color: rgb(26, 26, 26);
    }

    .favotitelist.img1 {
        width: 100px;
    }

    td img {
        width: 150px;
    }

    .class.tr td {
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        color: #000000;
    }



    .st1 {
        width: 450px;
        /* border-bottom: 3px dashed #9D9D9D; */
        margin: 20px;
        padding-bottom: 10px;
    }

    /* Personal Coach */

    textarea {
        resize: none;
    }

    .t1 {
        width: 100px;
        /* border: 1px solid red; */
        float: left;
        text-align: right;
    }


</style>

<div style="background-color: #fff" id="app">
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn"
         data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">
                FAVORITE
            </h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                    <li class="breadcrumb-item">
                        <a class="text-white" href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="text-white" href="#">Pages</a>
                    </li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">
                        MEMBER
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- body start -->

    <div class="container">
        <div class="container text-center">
            <nav style="
            --bs-breadcrumb-divider: url(
              &#34;data:image/svg + xml,
              %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
            );
          "
                 aria-label="breadcrumb">
                <ol class="breadcrumb" style="color: rgb(0, 0, 0)">
                    <li class="breadcrumb-item">
                        <a href="index.html" style="color: rgb(0, 0, 0)">首頁</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="personal_member.html" style="color: rgb(0, 0, 0)">我的會員專區</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">收藏清單</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="container member line">
                    <div class="nav" style="color: rgb(0, 0, 0);">
                        <a style="color: rgb(0, 0, 0);" href="personal_member.html"
                           class="nav-link nav-item ">基本資料</a>
                        <a style="color: rgb(0, 0, 0);" href="personal_member_Order_Traking.html"
                           class="nav-link nav-item">訂單查詢</a>
                        <a asp-area="" asp-controller="MemberFavorite" asp-action="MemberFavorite"
                           class="nav-link nav-item">收藏清單</a>
                        <a asp-area="" asp-controller="Member" asp-action="MemberClass"
                           class="nav-link nav-item">我的課表</a>
                        <a style="color: rgb(0, 0, 0);" href="personal_member_Customer_Service_Records.html"
                           class="nav-link nav-item">客服紀錄</a>
                    </div>
                </div>
            </div>
        </nav>
        <hr />
    </div>


    <div class="container" v-for="favorite in MemberFavorites.favoritesWithMembers" :key="favorite.memberFavoriteId">
        <ul v-for="member in favorite.members" :key="member.memberId">
            <li>{{ member.memberName }}</li>
            <li>一般會員</li>
            <li>{{ member.email }}</li>

            <li>年度累積消費金額 NT.{{ MemberFavorites.totalOrderAmount }}</li>
        </ul>
        <hr />
    </div>


    <div class="container col-6">
        <div class=" container btn-group" >

            <!-- 教練選項 -->
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked v-model="showTrainer" value="trainer">
            <label class="btn" for="btnradio1" style="background-color:#F24B88;color:#fff;border-radius:15px" checked>教練</label>

            <!-- 商品選項 -->
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" v-model="showTrainer" value="product">
            <label class="btn" for="btnradio2" style="margin-left:50px;border-radius:15px;background-color:#F24B88;color:#fff">商品</label>

        </div>
    </div>


    <hr />


    <div class="container-md pt-3" style="padding-bottom: 50px">
        <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">

            <!-- 當 showTrainer 為 'trainer' 時顯示以下內容 start-->
            <div v-if="showTrainer === 'trainer'" v-for="memberFavorite in MemberFavorites.favoritesWithTrainersAndProducts1" :key="memberFavorite.memberFavoriteId">
                <div v-for="trainer in memberFavorite.trainers" :key="trainer.trainerId">
                    <!-- 教練的內容  start -->
                    <div class="card mh-250px card1 overflow-hidden">
                        <div class="card-image">
                            <img :src="'data:image/jpeg;base64,' + trainer.photo" alt="Trainer Image" style="width: 220px; height: 220px; object-fit: cover;" />
                        </div>
                        <div class="card-footer bg-white border-top-0 fz-12px d-flex align-items-center p-2 ">
                            <span class="me-auto" style="font-weight: bold; font-size: 20px;">
                                {{ trainer.trainerName }}
                            </span>
                            <i class="fa-solid fa-heart" style="color:red; transform: scale(1.3);"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 教練的內容 end -->
            <!-- 當 showTrainer 為 'trainer' 時顯示以下內容 end -->
            <!-- 當 showTrainer 為 'product' 時顯示以下內容 start -->
            <div v-else v-for="memberFavorite in MemberFavorites.favoritesWithTrainersAndProducts2" :key="memberFavorite.memberFavoriteId">
                <div v-for="product in memberFavorite.products" :key="product.productId">
                    <!-- 商品的內容 start -->
                    <div class="card mh-250px card1 overflow-hidden">
                        <div class="card-image">
                            <img :src="'data:image/jpeg;base64,' + product.photo" alt="Product Image" style="width: 220px; height: 220px; object-fit: cover;" />
                        </div>
                        <div class="card-footer bg-white border-top-0 fz-12px d-flex align-items-center p-2 ">
                            <span class="me-auto" style="font-weight: bold; font-size: 20px;">
                                {{ product.productName }}
                            </span>
                            <i class="fa-solid fa-heart" style="color:red; transform: scale(1.3);"></i>
                        </div>
                    </div>
                </div>
            </div>
             <!-- 商品的內容 end -->
            <!-- 當 showTrainer 為 'product' 時顯示以下內容 end -->
        </div>
    </div>
</div>






<script>
    Vue.createApp({
        data() {
            return {
                MemberFavorites: [],

                favoritesWithTrainersAndProducts1: [],
                favoritesWithTrainersAndProducts2: [],
                showTrainer: 'trainer' // 新增這行

            };
        },
        mounted() {
            this.MemberFavorite();
        },
        methods: {
            MemberFavorite() {
                let urlParams = new URLSearchParams(window.location.search);
                let id = urlParams.get('id');  // 從URL中獲取id

                if (!id) {
                    console.error("ID not provided in the URL");
                    return;
                }

                fetch(`https://localhost:7011/api/MemberFavorite/${id}`)
                    .then((response) => {
                        if (!response.ok) {
                            return response.text().then(text => {
                                throw new Error(`API request failed with status ${response.status}: ${text}`);
                            });
                        }
                        return response.json();
                    })
                    .then((data) => {
                        console.log(data);  // 加這一行
                        this.MemberFavorites = data;
                    })
                    .catch((error) => {
                        console.error("API 請求失敗: " + error.message);
                    });
            },
        },
    }).mount('#app')
</script>