

<style>
    /* index首圖 ＋透明度 */
    .page-header {
        background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../images/bg/bg-5.jpg) center center no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
</style>


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">About</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->





<div style="text-align: center;">
    <div style="display: inline-block;">

        <a href="javascript:void(0);" onclick="scrollToCenter('section1')" class="h3 text-light"
           style="margin-right: 100px;border-radius: 10px;">關於我們<i class="ti-angle-right ml-2"></i></a>
        <a href="javascript:void(0);" onclick="scrollToCenter('section2')" class="h3 text-light"
           style="margin-right: 100px;border-radius: 10px;">創立緣由<i class="ti-angle-right ml-2"></i></a>
        <a href="javascript:void(0);" onclick="scrollToCenter('section3')" class="h3 text-light"
           style="margin-right: 100px;border-radius: 10px;">核心價值<i class="ti-angle-right ml-2"></i></a>
        <a href="javascript:void(0);" onclick="scrollToCenter('section4')" class="h3 text-light"
           style="margin-right: 100px;border-radius: 10px;">未來展望<i class="ti-angle-right ml-2"></i></a>
        <hr>
    </div>
</div>
<!-- Section About start -->
<!-- <div class="container-xxl py-5 d-flex justify-content-center">
    <div class="container">
        <div class="row align-items-center g-5 mx-auto " style="width: 300px;">
            <div class="col-lg-6 col-md-12">
                <div
                    class="d-flex flex-lg-row about-item position-relative mt-10 mt-lg-0 align-items-center justify-content-between">
                    <a href="service.html" class="btn btn-main">關於我們<i class="ti-angle-right ml-2"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div
                    class="d-flex flex-lg-row about-item position-relative mt-10 mt-lg-0 align-items-center justify-content-between">

                    <a href="service.html" class="btn btn-main">創立緣由<i class="ti-angle-right ml-2"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div
                    class="d-flex flex-lg-row about-item position-relative mt-10 mt-lg-0 align-items-center justify-content-between">
                    <a href="service.html" class="btn btn-main">核心價值<i class="ti-angle-right ml-2"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div
                    class="d-flex flex-lg-row about-item position-relative mt-10 mt-lg-0 align-items-center justify-content-between">
                    <a href="service.html" class="btn btn-main">未來展望<i class="ti-angle-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Section About start -->


    <div class="container-xxl py-5" style="margin-top: 200px;">
        <div class="container">
            <div class="row align-items-center g-5" style="margin-left: 200px;">
                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex flex-column about-item position-relative mt-10 mt-lg-0">
                        <span class="h5 text-lg text-white" id="section1">關於我們</span>
                        <h4 class="mt-1 mb-3 text-white">
                            歡迎來到
                            <span class="h5 text-lg text-white">Fit</span>
                            <span class="h5 text-lg text-color">Match</span>！我們是一個致力於幫助人們找到合適健身教練的媒合平台。無論你是剛開始健身的新手還是想要進一步提升你的體能，我們都在這裡為你提供最專業的服務。
                        </h4>
                    </div>
                </div>
                <div class="col-lg-3 mt-lg-4 col-md-6 image-container" style="position: relative; left: 80px;">
                    <img src="~/images/about/img-7.jpg" class="img-fluid"
                         style="float: right;transform: scale(1.2);width: 150%;margin-left: 200px;border-radius: 20px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Section About End -->

    <div class="container-xxl py-5 d-flex justify-content-center" style="margin-top: 200px;">
        <div class="container" style="max-width: 1200px;">
            <div class="row mt-10 g-4 ">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item">
                        <div class="team-img position-relative overflow-hidden">
                            <div class="mx-auto">
                            <img src="~/images/about/img-2.jpg" alt="" class="img-fluid"
                                     style="border-radius: 20px; width: 300px;height: 400px;">
                                <div class="team-social">
                                    <span class="text-light" style="font-size: 50px;">戰繩</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="team-item">
                        <div class="team-img position-relative overflow-hidden">
                            <div class="mx-auto" style="margin-top: 110px;">
                            <img src="~/images/about/img-3.jpg" alt="" class="img-fluid"
                                     style="border-radius: 20px;width: 300px;height: 400px;">
                                <div class="team-social">
                                    <span class="text-light" style="font-size: 50px;">雙環</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1.1s">
                    <div class="team-item">
                        <div class="team-img position-relative overflow-hidden">
                            <div class="mx-auto">
                            <img src="~/images/about/img-4.jpg" alt="" class="img-fluid"
                                     style="border-radius: 20px;width: 300px;height: 400px;">
                                <div class="team-social">
                                    <span class="text-light" style="font-size: 50px;">重訓</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1.4s">
                    <div class="team-item">
                        <div class="team-img position-relative overflow-hidden">
                            <div class="mx-auto" style="margin-top: 110px;">
                            <img src="~/images/about/img-5.jpg" alt="" class="img-fluid"
                                     style="border-radius: 20px;width: 300px;height: 400px;">
                                <div class="team-social">
                                    <span class="text-light" style="font-size: 50px;">瑜珈</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 d-flex justify-content-center" style="margin-top: 200px;">
        <div class="container" style="max-width: 1000px;">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-uppercase text-lg text-white" id="section2">創立緣由</h1>
            </div>
            <div style="margin-top: 50px;">
                <h5 class="team-social mb-3 text-white">
                    <p>
                        我們平台的創立是源於世界上有越來越多關注自我的健康。<br>
                        但同時尋找合適的健身教練是一項艱難的挑戰。<br>
                        我們深知每個人的健身需求都是獨一無二的，並且找到適合自己的教練或活動是實現健康目標的關鍵。<br>
                        因此，我們決定建立這個健身媒合平台，由專業教練的團隊帶領，為用戶提供個性化的健身課程，讓每一個人都能在健身過程中找到動力和成就感。<br>
                        <br>
                        我們的團隊充滿對健身的熱愛，並深信健康的生活方式對個人和社會都具有積極的影響。<br>
                        我們希望通過這個平台，讓更多的人參與到健身的行列中來，樹立健康的價值觀，建立積極的生活態度。<br>
                        我們不僅是一個健身媒合平台，更是一個關於健康、活力和快樂的社群，我們將不斷努力，為用戶提供有價值的健身資源和支持，讓每個人都能享受健康帶來的美好生活。

                    </p>

                </h5>
            </div>

        </div>
    </div>







    <!-- Team Start -->
    <div class="container-xxl py-5 d-flex justify-content-center" style="margin-top: 200px;">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-uppercase text-lg text-white" id="section3">核心價值</h1>
            </div>
            <div class="align-items-center">
                <div class="row g-3 justify-content-center">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item">
                            <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid" src="~/images/about/img-25.jpg" alt="">
                                <div class="team-social">
                                    <span class="text-light text-center" style="font-size: 20px;">
                                        我們的專業教練團隊擁有豐富的經驗與專業知識，致力於提供最優質的指導與訓練。我們每位教練都擁有國際認證，並持續參與專業進修，以保持領先優勢。透過細緻的個別化教學，確保學員在運動、學習和個人成長上都能達到最佳狀態。
                                    </span>
                                </div>
                            </div>
                            <div class="bg-darkgray text-center p-4">
                                <h5 class="text-uppercase">專業教練團隊</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid" src="~/images/about/img-8.jpg" alt="">
                                <div class="team-social">
                                    <span class="text-light text-center" style="font-size: 20px;">
                                        我們提供多樣化的健身課程，包括瑜伽、有氧運動、重訓、舞蹈等。無論你是初學者還是有經驗的運動者，都能找到適合自己的課程。我們的專業教練團隊會根據你的需求和目標，量身打造課程，讓你在健身的路上保持動力並取得成果。
                                    </span>
                                </div>
                            </div>
                            <div class="bg-darkgray text-center p-4">
                                <h5 class="text-uppercase">多樣化課程</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid" src="~/images/about/img-22.jpg" alt="">
                                <div class="team-social">
                                    <span class="text-light text-center" style="font-size: 20px;">
                                        我們堅持健康與安全保障是我們服務的首要任務。我們的場所定期進行嚴格的清潔與消毒，並提供充足的防護用具。教練團隊定期受訓，確保符合最高的健康標準。我們一同維護一個安心、健康的環境，讓您安心享受每一次的健身體驗。
                                    </span>
                                </div>
                            </div>
                            <div class="bg-darkgray text-center p-4">
                                <h5 class="text-uppercase">健康與安全</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-items-center">
                <div class="row g-3 justify-content-center">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid" src="~/images/about/img-23.jpg" alt="">
                                <div class="team-social">
                                    <span class="text-light text-center" style="font-size: 20px;">
                                        我們提供快速客服支援，隨時解決您的問題與需求。我們的專業團隊將即時回應您的詢問，確保您在最短的時間內獲得幫助與支援。我們重視每一位客戶，致力於提供高效、友善且可靠的客戶服務體驗。
                                    </span>
                                </div>
                            </div>
                            <div class="bg-darkgray text-center p-4">
                                <h5 class="text-uppercase">客服</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid" src="~/images/about/img-10.jpg" alt="">
                                <div class="team-social">
                                    <span class="text-light text-center" style="font-size: 20px;">
                                        我們持續改善使用者體驗是我們的承諾。透過不斷聆聽客戶的反饋，我們不斷優化產品功能和服務流程。我們致力於提供更直觀、高效和個性化的體驗，讓每位用戶都能感受到我們對品質和滿意度的關懷。
                                    </span>
                                </div>
                            </div>
                            <div class="bg-darkgray text-center p-4">
                                <h5 class="text-uppercase">使用者體驗</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid" src="~/images/about/img-24.jpg" alt="">
                                <div class="team-social">
                                    <span class="text-light text-center" style="font-size: 20px;">
                                        活動交流是我們連結的重要途徑。透過多樣的活動，能夠促進成員之間的互動與合作，並豐富大家的社交經驗。每個活動都是一次豐富且有意義的交流機會，讓我們共同創造難忘的回憶，並彼此成長。
                                    </span>
                                </div>
                            </div>
                            <div class="bg-darkgray text-center p-4">
                                <h5 class="text-uppercase">活動</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Team End -->


    <div class="container-xxl py-5 d-flex justify-content-center" style="margin-top: 200px;">
        <div class="container" style="max-width: 1000px;">
            <div class="wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item row align-items-center g-4">
                    <div class="team-social" style="text-align: center;">
                        <span class="h5 text-lg text-white text-center" id="section4">Fit<span>Match</span>未來展望</span>
                    </div>
                </div>
            </div>
            <div class="wow fadeInUp" data-wow-delay="1.0s" style="margin-right: 50px;">
                <div class="team-item row align-items-center g-4">
                    <div class="col-lg-6 col-md-12">

                        <div class="team-social position-relative mt-5 mt-lg-0" style="text-align: center;">

                            <div style="margin-top: 50px;">
                                <h5 class="mb-3 text-white">
                                    <span class="h5 text-md text-color">全球化擴展</span><br>
                                    我們希望將我們的平台擴展到全球範圍，讓更多國家和地區的健身愛好者都能夠受益於我們的服務。這將使我們成為全球最受歡迎且信賴的健身媒合平台之一。
                                </h5>
                            </div>
                            <div style="margin-top: 30px;">
                                <h5 class="mb-3 text-white">
                                    <span class="h5 text-md text-color">持續的創新和改進</span><br>
                                    我們將不斷投入研發和技術，持續改善我們的網站和用戶體驗。通過不斷優化，我們將提供更準確、高效的個性化健身課程，使用戶享受到最好的服務。
                                </h5>
                            </div>
                            <div style="margin-top: 30px;">
                                <h5 class="mb-3 text-white">
                                    <span class="h5 text-md text-color">建立健康社群生態</span><br>
                                    我們希望建立一個健康社群生態，鼓勵用戶互相支持、交流和分享，共同追求健康快樂的生活。透過活動和比賽，我們將激勵用戶積極參與，營造一個充滿正能量的社群。
                                </h5>
                            </div>
                            <div style="margin-top: 30px;">
                                <h5 class=" mb-3 text-white">
                                    <span class="h5 text-md text-color">企業社會責任</span><br>
                                    我們將積極參與社會公益活動，回饋社會，推廣健康生活理念，並支持健身相關的慈善項目，關愛弱勢群體的健康。
                                </h5>
                            </div>
                            <div style="margin-top: 30px;">
                                <h5 class="mb-3 text-white">
                                    <span class="h5 text-md text-color">與健身產業合作夥伴攜手前行</span><br>
                                    我們將與健身產業的合作夥伴攜手合作，共同推動健身事業的發展，進一步豐富和擴展我們的服務範疇，提供更全面的健身解決方案。
                                </h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 image-container" style="position: relative; left: 150px;">
                    <img src="~/images/about/img-15.jpg" alt="" class="img-fluid"
                             style="float: left;transform: scale(0.9);width: 130%;border-radius: 20px;">
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>

    function scrollToCenter(id) {
        var element = document.getElementById(id);
        var yoffset = window.innerHeight / 2 - element.clientHeight / 2;
        window.scrollTo(0, element.offsetTop - yoffset);
    }


</script>