@{
    ViewData["Title"] = "CheckOut";
}

@*  ====== 增加之後待使用 start  ====== *@
<!-- 增加Vue跟axios跟jQuery 函式庫CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/vuex@4"></script>


@* ====== 原先Html樣式 start ====== *@
<!--Mall的樣式css-->
<link rel="stylesheet" href="~/css/Mall.css/bootstrap.min.css">

<link rel="stylesheet" href="~/css/Mall.css/owl.theme.default.min.css">

<link rel="stylesheet" href="~/css/Mall.css/owl.carousel.min.css">

<link rel="stylesheet" href="~/css/Mall.css/remixicon.css">

<link rel="stylesheet" href="~/css/Mall.css/meanmenu.min.css">

<link rel="stylesheet" href="~/css/Mall.css/animate.min.css">

<link rel="stylesheet" href="~/css/Mall.css/style.css">

<link rel="stylesheet" href="~/css/Mall.css/responsive.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />



@*  ======  body start ====== *@
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">Checkout</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">首頁</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">商城</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">購物車</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">結帳流程</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- 測試API可否被抓入 start -->
<div id="app">
    <div v-for="order in orders" class="order">
        <h1>{{ order.orderId }}</h1>
        <p>{{ order.MemberId }}</p>
        <!-- 其他訂單詳細資訊 -->
    </div>
</div>
<!-- 測試API可否被抓入end -->

<!-- Team Start -->
<section class="checkout-area ptb-54">
    <div class="container">
        <div class="row">


            <div class="col-lg-8 col-md-12">

                <!-- 提醒登入的畫面先藏起來 -->
                <!-- <div class="log-in-coupon-code">
                    <p>Returning customer? Click here to
                        <a href="my-account.html">
                            Log In
                        </a>
                    </p>
                </div> -->


                <form>
                    <div class="billing-details">
                        <h3 class="title">訂購人資訊</h3>
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label>姓名<span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label>Email <span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label>電話<span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label>地址<span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>


                            <div>
                                <hr>
                            </div>

                        </div>

                        <h3 class="title">送貨資訊</h3>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="ship-different-address">
                                <label class="form-check-label" for="ship-different-address">收件資訊同訂購人</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label>姓名<span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label>Email <span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label>電話<span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label>地址<span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>提醒事項</label>
                                    <textarea name="notes" id="notes" cols="30" rows="8"
                                              class="form-control"></textarea>
                                </div>
                            </div>



                        </div>





                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="order-details ml-15">
                    <div class="cart-totals mb-0">
                        <h3>訂單金額</h3>
                        <ul>
                            <li>商品總價<span>$ 這裡要帶入總金額 </span></li>
                            <li>運費<span>$ 這裡要帶入運費</span></li>
                            <li>優惠券折扣<span>-$ 這裡要帶入折扣</span></li>
                            <li><b>付款總金額</b> <span><b>$ 這裡要帶入扣掉折扣後總金額</b></span></li>
                        </ul>
                        <div class="faq-accordion">
                            <h3>付款方式</h3>
                            <ul class="accordion">
                                <li class="accordion-item active">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        貨到付款
                                    </a>
                                </li>
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        信用卡
                                    </a>
                                </li>
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        LinePay
                                    </a>
                                </li>

                                <div class="faq-accordion">

                                    <h3>運送方式</h3>
                                    <ul class="accordion">
                                        <li class="accordion-item active">
                                            <a class="accordion-title" href="javascript:void(0)">
                                                宅配
                                            </a>
                                        </li>
                                        <li class="accordion-item ">
                                            <a class="accordion-title" href="javascript:void(0)">
                                                超商取貨
                                            </a>
                                        </li>
                                    </ul>
                                </div>



                                <li class="accordion-item">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                               id="ship-differents-address">
                                        <label class="form-check-label" for="ship-different-address">
                                            我同意<a href="terms-conditions.html">相關事項</a>*
                                        </label>
                                    </div>
                                </li>
                                <li class="place-order">
                                    <a href="" class="btn btn-primary">
                                        付款
                                    </a>
                                </li>
                            </ul>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team End -->
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>





@* ======== 原先JS樣式 start ======== *@
<!--Mall的效果JS-->
<script src="~/static/js/jquery.min.js"></script>
<script src="~/js/Mail.js/bootstrap.bundle.min.js"></script>
<script src="~/js/Mail.js/meanmenu.min.js"></script>
<script src="~/js/Mail.js/owl.carousel.min.js"></script>
<script src="~/js/Mail.js/wow.min.js"></script>
<script src="~/js/Mail.js/range-slider.min.js"></script>
<script src="~/js/Mail.js/form-validator.min.js"></script>
<script src="~/js/Mail.js/contact-form-script.js"></script>
<script src="~/js/Mail.js/ajaxchimp.min.js"></script>
<script src="~/js/Mail.js/custom.js"></script>


@* ======== Vue & axios start ======== *@
<script>const App = Vue.createApp({
            data() {
                return {
                    orders: [],
                };
            },
            mounted() {
                // 使用axios來抓取API
                axios.get('https://localhost:7011/api/OrderAPI/4')
                    .then(response => {
                        this.orders = response.data;
                    })
                    .catch(error => {
                        console.error('無法獲取訂單資料:', error);
                    });
            },
        });

        App.mount('#app');</script>

