@{
    ViewData["Title"] = "Checkout";
}


<!-- 增加Vue跟axios跟jQuery 函式庫CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/vuex@4"></script>

@*原先Html樣式 start*@
<!-- Required meta tags -->
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<!-- theme meta -->
<meta name="theme-name" content="fitmatch" />
<meta name="author" content="ispan#FUEN29.no4">

<title>FitMatch</title>
<link rel="icon" href="./images/LOGO/favicon.png" type="icon" />


<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Oswald:wght@600&display=swap"
      rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="lib/animate/animate.min.css" rel="stylesheet">
<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Template Stylesheet -->

<link href="css/style.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="css/Mall.css/bootstrap.min.css"> -->

<link rel="stylesheet" href="css/Mall.css/owl.theme.default.min.css">

<link rel="stylesheet" href="css/Mall.css/owl.carousel.min.css">

<link rel="stylesheet" href="css/Mall.css/remixicon.css">

<link rel="stylesheet" href="css/Mall.css/meanmenu.min.css">

<link rel="stylesheet" href="css/Mall.css/animate.min.css">

<link rel="stylesheet" href="css/Mall.css/style_cy.css">

<link rel="stylesheet" href="css/Mall.css/responsive.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

@*原先Html樣式 end*@



@*<body style="background-color: white;">*@


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">ShoppingCart</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">ShoppingCart</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    <section class="cart-area ptb-54">
        <div class="container">
            <div class="row ">
                <div class="col-lg-9">
                    <div class="text-end">
                        <a href="shop.html" class="btn update-cart">
                            新增商品
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4">

                    </div>
                    <form class="cart-controller">
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">商品</th>
                                        <th scope="col"></th>
                                        <th scope="col">金額</th>
                                        <th scope="col">數量</th>
                                        <th scope="col">小計</th>
                                        <th scope="col" class="ps-4">刪除</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="product-details.html">
                                                <img src="images/商城/peeta.jpg" alt="Image">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="product-details.html">
                                                DFMALB 20V Max XX Oscillating Multi <br> Tool
                                                Variable Speed Tool
                                            </a>
                                        </td>
                                        <td class="product-price">
                                            <span class="unit-amount">$90.00</span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn">
                                                    <i class="fa-solid fa-minus"></i>
                                                </span>
                                                <input id="counter" type="text" value="0" min="0">
                                                <span class="plus-btn">
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="subtotal-amount">$90.00</span>
                                        </td>
                                        <td class="trash">
                                            <a href="" class="remove">
                                                <i class="fa-solid fa-trash" style="color: #f24b88;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="product-details.html">
                                                <img src="images/商城/brand.jpg" alt="Image">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="product-details.html">
                                                Power Tools Set Chinese Manufacturer <br>
                                                Production 50V Lithu Battery
                                            </a>
                                        </td>
                                        <td class="product-price">
                                            <span class="unit-amount">$50.00</span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn">
                                                    <i class="fa-solid fa-minus"></i>
                                                </span>
                                                <input id="counter" type="text" value="0" min="0">
                                                <span class="plus-btn">
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="subtotal-amount">$50.00</span>
                                        </td>
                                        <td class="trash">
                                            <a href="" class="remove">
                                                <i class="fa-solid fa-trash" style="color: #f24b88;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="product-details.html">
                                                <img src="images/商城/肌酸.jpg" alt="Image">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="product-details.html">
                                                Electrical Magnetic Impact Power <br> Hammer
                                                Drills Machine
                                            </a>
                                        </td>
                                        <td class="product-price">
                                            <span class="unit-amount">$30.00</span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn">
                                                    <i class="fa-solid fa-minus"></i>
                                                </span>
                                                <input id="counter" type="text" value="0" min="0">
                                                <span class="plus-btn">
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="subtotal-amount">$30.00</span>
                                        </td>
                                        <td class="trash">
                                            <a href="" class="remove">
                                                <i class="fa-solid fa-trash" style="color: #f24b88;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="product-details.html">
                                                <img src="images/商城/B.webp" alt="Image">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="product-details.html">
                                                Professional Cordless Drill Power Tools <br>
                                                Set Competitive Price
                                            </a>
                                        </td>
                                        <td class="product-price">
                                            <span class="unit-amount">$45.00</span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn">
                                                    <i class="fa-solid fa-minus"></i>
                                                </span>
                                                <input id="counter" type="text" value="0" min="0">
                                                <span class="plus-btn">
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="subtotal-amount">$45.00</span>
                                        </td>
                                        <td class="trash">
                                            <a href="" class="remove">
                                                <i class="fa-solid fa-trash" style="color: #f24b88;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="coupon-cart">
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <div class="form-group mb-0">
                                    <input type="text" class="form-control" placeholder="Coupon code">
                                    <button class="btn btn-primary">
                                        Apply Coupon
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cart-totals">
                        <h3 class="cart-checkout-title">結帳金額</h3>
                        <ul>
                            <li>小計 <span>$240.00</span></li>
                            <li>稅金 <span>$00.00</span></li>
                            <li>總金額 <span>$315.00</span></li>
                            <li><b>折扣後金額</b> <span><b>$240.00</b></span></li>
                        </ul>
                        <div class="text-center">
                            <a href="checkout.html" class="btn btn-primary" style="min-width: 200px;
    margin: auto;">
                                結帳
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Team Start -->
    <!-- Team End -->

@*</body>*@


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>


    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="static/js/jquery.min.js"></script>

    <script src="js/Mail.js/bootstrap.bundle.min.js"></script>

    <script src="js/Mail.js/meanmenu.min.js"></script>

    <script src="js/Mail.js/owl.carousel.min.js"></script>

    <script src="js/Mail.js/wow.min.js"></script>

    <script src="js/Mail.js/range-slider.min.js"></script>

    <script src="js/Mail.js/form-validator.min.js"></script>

    <script src="js/Mail.js/contact-form-script.js"></script>

    <script src="js/Mail.js/ajaxchimp.min.js"></script>

    <script src="js/Mail.js/custom.js"></script>


