@{
    ViewData["Title"] = "Gym";
}


<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/vuex@4"></script>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 wow fadeIn"
     data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">
            GYM
        </h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item">
                    <a class="text-white" href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="text-white" href="#">Pages</a>
                </li>
                <li class="breadcrumb-item text-primary active" aria-current="page">
                    GYM
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Team Start -->
<section class="bgc">
    <div class="section container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp"
                 data-wow-delay="0.1s"
                 style="max-width: 600px">
                <p class="d-inline-block bg-light text-primary py-1 px-4"></p>
                <h1 class="text-uppercase">OUR GYM</h1>
            </div>
            <div id="app" class="container mt-5">
                <div class="row">
                    <!-- Left Filter Section -->
                    <div class="col-lg-4 col-md-8" style="margin-top: 21px">
                        <!-- Search Box -->
                        <div class="course-widget border py-4 px-2 mt-5 mt-lg-0 mb-3">
                            <h3 class="mb-3 text-light">
                                <i class="fa-solid fa-chevron-right pe-3"
                                   style="color: #ffffff"></i>
                                搜尋
                            </h3>
                            <div class="list-group list-group-flush">
                                <input type="text" placeholder="請輸入場館名稱" />
                            </div>
                        </div>
                        <!-- Search Box Ends -->
                        <!-- Location Filters -->
                        <div class="course-widget border py-4 px-2 mt-5 mt-lg-0">
                            <h3 class="mb-3 text-light">
                                <i class="fa-solid fa-chevron-right pe-3"
                                   style="color: #ffffff"></i>地點
                            </h3>
                            <div class="list-group list-group-flush">
                                <select class="p-2">
                                    <option disabled selected>請選擇地點</option>
                                    <option value="Taipei">台北</option>
                                    <option value="Taichung">台中</option>
                                    <option value="Tainan">台南</option>
                                    <option value="Kaohsiung">高雄</option>
                                </select>
                            </div>
                            <h3 class="mb-3 text-light mt-4">
                                <i class="fa-solid fa-chevron-right pe-3"
                                   style="color: #ffffff"></i>區域
                            </h3>
                            <div class="list-group list-group-flush">
                                <select class="p-2">
                                    <option disabled selected>請選擇地點</option>
                                    <option value="Taipei">南區</option>
                                    <option value="Taichung">北區</option>
                                    <option value="Tainan">東區</option>
                                    <option value="Kaohsiung">西區</option>
                                </select>
                            </div>
                        </div>
                        <!-- Location Filters End -->
                        <!-- Buttons -->
                        <div class="btn btn-primary p-3 m-2 course-widget">搜尋</div>
                        <div class="btn btn-clear p-3 m-2 course-widget"
                             id="clearFilters">
                            清除篩選條件
                        </div>
                    </div>
                    <!-- Left Filter Section Ends -->
                    <!-- Right Section to Display Gyms -->
                    <div class="col-lg-8 col-md-4">
                        <div class="row">
                            <div v-for="gym in gyms" :key="gym.id" class="col-12 mb-4">
                                <div class="card border-0 bg-transparent rounded-0 mb-4">
                                    <div class="row no-gutters">
                                        <div class="col-md-5 d-flex justify-content-center align-items-center">
                                            <img :src="'data:image/jpeg;base64,' + gym.photo" alt="Gym Image" style="width: 330px; height: 250px; object-fit: cover;" />
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body team-wrap pl-4">
                                                <div class="d-flex">
                                                    <h3 class="card-title text-light me-auto">
                                                        {{ gym.gymName }}
                                                    </h3>

                                                    <button type="button"
                                                            id="showButton"
                                                            class="btn-dark"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#reservationModal">
                                                        點我預約
                                                    </button>
                                                </div>
                                                <p class="card-subtitle letter-spacing">
                                                    <!-- Add code to dynamically display star rating -->
                                                </p>
                                                <div class="d-flex align-items-center pt-1">
                                                    <h5>地址：</h5>
                                                    <h5 style="color: #ddd">{{ gym.address }}</h5>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <iframe :src="gym.mapUrl"
                                                            width="600"
                                                            height="150"
                                                            style="border: 0"
                                                            loading="lazy"
                                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Right Section Ends -->
                    <!-- 我要預約的按鈕結束 -->
                    <hr />
                    <!-- 預約日期顯示開始 -->

                    <div class="reservation" id="hiddenBlock" style="display: none">
                        <div class="container">
                            <hr />
                            <div class="row">
                                <div class="col d-flex justify-content-between align-items-center">
                                    <button class="btn btn-secondary" id="prevWeek">
                                        &lt;
                                    </button>
                                    <div class="d-flex justify-content-center align-items-center flex-grow-1">
                                        <span id="yearDisplay"
                                              class="text-light fs-3 ms-5"></span>
                                    </div>
                                    <div class="d-flex">
                                        <button class="btn btn-primary me-2" id="today">
                                            Today
                                        </button>
                                        <button class="btn btn-secondary" id="nextWeek">
                                            &gt;
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-bordered mt-3 bg-darkgray">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <!-- 預留給日期顯示 -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- 預留給時間區塊 -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- 預約日期顯示結束 -->
                </div>

                <!-- 第三個場館結束 -->
            </div>
        </div>
    </div>
    <!-- 場館篩選結束 -->
</section>
<!-- Section Team End -->


<style scoped>
    body {
        color: #ffff;
    }

    a,
    a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
    }

    h2,
    .card-body > .text-color {
        color: #ddd;
    }

    .no-gutters {
        background: linear-gradient(90deg, #f24b88 0%, #bd00ff 100%);
        border-radius: 5px;
    }

    .card-body img {
        width: 20px;
    }

    @@media (min-width: 1200px) {
        .trainerfilter .container {
            display: flex;
            max-width: 1800px;
            justify-content: center;
            margin: 0 auto;
        }
    }

    .trainerfilter .left {
        width: 30%;
        /* 左邊區塊的寬度 */
        display: flex;
        flex-direction: column;
    }

    .trainerfilter .course-widget {
        width: 70%;
    }

    .trainerfilter .right {
        width: 70%;
        /* 右邊區塊的寬度 */
        display: flex;
        flex-direction: column;
    }

    .trainerfilter .row {
        margin: 10px 0;
        /* 行與行之間的間隙 */
    }

    .left .row {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .trainerfilter .circle-container {
        /* width: 200px; */
        /* 圓的寬度 */
        /* height: 200px; */
        /* 圓的高度，應與寬度相同以產生完美的圓形 */
        /* border-radius: 50%; */
        /* overflow: hidden; */
        /* 隱藏超出的部分 */
        /* position: relative; */
        /* 使內部的 img 元素能夠使用絕對定位 */
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    }

    .trainerfilter .gym-img {
        width: 330px;
        height: 250px;
    }

    .trainerfilter .form-check-label {
        margin-left: 20px;
    }

    /* 我要預約 */
    .btn-1-container {
        display: flex;
        justify-content: center;
    }

    .btn-1 {
        background-color: #f24b88;
        border-radius: 4px;
        border: 2px solid #f24b88;
        color: #ffff;
        display: inline-block;
        margin: 0 0.25em;
        overflow: hidden;
        padding: 24px 60px 24px 16px;
        position: relative;
        text-decoration: none;
        line-height: 1;
    }

        .btn-1 .btn-content {
            font-size: 1em;
            line-height: 1.2;
            padding: 0 26px;
            position: relative;
            right: 0;
            transition: right 300ms ease;
            display: block;
            text-align: left;
        }

        .btn-1 .icon {
            border-left: 1px solid #ffffff;
            position: absolute;
            right: 0;
            text-align: center;
            top: 50%;
            transition: all 300ms ease;
            transform: translateY(-50%);
            width: 58px;
            height: 70%;
        }

            .btn-1 .icon i {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

        .btn-1:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #f24b88;
            opacity: 0;
            transition: opacity 300ms ease;
        }

        .btn-1:hover .btn-content {
            right: 100%;
        }

        .btn-1:hover .icon {
            border-left: 0;
            font-size: 1.8em;
            width: 100%;
        }

        .btn-1:hover:after {
            opacity: 0.2;
        }

    /* 預約區塊 */
    .reservation.available {
        background-color: green;
        cursor: pointer;
    }

    .reservation.booked {
        background-color: grey;
        pointer-events: none;
    }

    .reservation table td {
        position: relative;
        /* 設定父元件為相對位置 */
    }

        .reservation table td button {
            position: absolute;
            /* 設定按鈕為絕對位置 */
            top: 0;
            /* 使按鈕靠近上邊界 */
            left: 0;
            /* 使按鈕靠近左邊界 */
            width: 100%;
            /* 按鈕寬度設為父元件的100% */
            height: 100%;
            /* 按鈕高度設為父元件的100% */
            border: none;
            /* 移除按鈕邊框 */
            background-color: green;
            /* 設定背景色 */
            color: white;
            /* 設定文字顏色 */
            border-radius: 5px;
            /* 可選，增加一點圓角 */
        }

    .reservation .booked-button {
        display: block;
        background-color: #808080;
        color: #fff;
        text-align: center;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        /* 可選，增加一點圓角 */
        pointer-events: none;
    }

    .reservation table th {
        text-align: center;
        white-space: pre-line;
        /* 換行保留 */
        color: #ffff;
        font-weight: normal;
    }

    .reservation .time-cell {
        text-align: center;
        font-size: 18px;
        color: #ffff;
    }

    .reservation .btn-primary:focus {
        color: #fff;
        background-color: #bf3b6c;
        border-color: #bf3b6c;
        box-shadow: 0 0 0 0.25rem #582337;
    }
</style>


<script>
    Vue.createApp({

        data() {
            return {
                gyms: [],
            };
        },
        mounted() {
            this.fetchGyms();
        },
        methods: {
            fetchGyms() {
                fetch("https://localhost:7011/api/Gym")
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error("API 請求失敗 " + response);
                        }
                        return response.json();
                    })
                    .then((data) => {
                        this.gyms = data;
                    })
                    .catch((error) => {
                        console.error("API 請求失敗: " + error.message);
                    });
            },
        },
    }).mount('#app')




</script>
