 @{
    ViewBag.SubLayout = "Member";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
} 

<style>
    .rounded-image-container {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        overflow: hidden;
    }

    .rounded-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /*專長欄位*/
    .checkbox-container {
        display: flex;
        flex-wrap: wrap;
    }

    .checkbox-item {
        flex-basis: 50%;
        display: flex;
        align-items: center;
    }

        .checkbox-item::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 8px;
        }

</style>


<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/vuex@4"></script>

<!-- personal 樣式 -->
<link rel="stylesheet" href="~/css/memberclass.css">

<!-- body start -->

<div class="container bg-white">
    <!-- 會員基本資料 Start -->
    <div class="container">
        <div class="container-fluid pt-4 px-4">
            <form>
                <div class="row justify-content-between">
                    <!--左攔-->
                    <div class="col-6">                      
                        <!-- 姓名 -->
                        <div class="row align-items-center mb-3">
                            <label for="memberNameInput" class="col-3 text-center col-form-label">中文姓名</label>
                            <div class="col-9">
                                <input class="form-control mb-3 memberNameInput" type="text" disabled>
                            </div>
                        </div>
                        <!-- 生日 -->
                        <div class="row align-items-center mb-3">
                            <label for="inputname" class="col-3 text-center col-form-label">生日</label>
                            <div class="col-9">
                                <input class="form-select memberBirthInput" style="background-color:#f1f1f1;"
                                       type="date" name="birth" disabled>
                            </div>
                        </div>
                        <!-- 性別 -->
                        <div class="row align-items-center mb-3">
                            <label for="inputname" class="col-3 text-center col-form-label">
                                性別
                            </label>
                            <div class="col-9">
                                <select class="form-select memberGenderInput"
                                        aria-label="性別" name="add1" size="1" disabled>
                                    <option>男</option>
                                    <option selected>女</option>
                                </select>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="row align-items-center mb-3">
                            <label for="memberEmailInput" class="col-3 text-center col-form-label">Email</label>
                            <div class="col-9">
                                <input class="form-control mb-3 memberEmailInput" type="text" disabled>
                            </div>
                        </div>
                        <!-- 電話 -->
                        <div class="row align-items-center mb-3">
                            <label for="memberPhoneInput" class="col-3 text-center col-form-label">電話</label>
                            <div class="col-9">
                                <input class="form-control mb-3 memberPhoneInput" type="text"
                                       aria-label="電話" disabled>
                            </div>
                        </div>
                        <!-- 地址 -->
                        <div class="row align-items-center mb-3">
                            <label for="memberAddressInput" class="col-3 text-center col-form-label">地址</label>
                            <div class="col-9">
                                <input class="form-control mb-3 memberAddressInput" type="text" aria-label="請輸入地址"  disabled>
                            </div>
                        </div>
                        <!-- 會員狀態 -->
                        <div class="row align-items-center mb-3">
                            <label for="inputname" class="col-3 text-center col-form-label">
                                會員狀態
                            </label>
                            <div class="col-9">
                                <select class="form-select memberStatusInput"
                                        aria-label="會員狀態" name="add2" size="1" disabled>
                                    <option>有效會員</option>
                                    <option selected>無效會員</option>
                                </select>
                            </div>
                        </div>
                        <!-- 入會時間 -->
                        <div class="row align-items-center mb-3">
                            <label for="inputname" class="col-3 text-center col-form-label">入會時間</label>
                            <div class="col-9">
                                <input class="form-select memberCreatedAtInput" style="background-color:#f1f1f1;" disabled>
                            </div>
                        </div>
                    </div>
                    <!-- 第二攔 -->
                    <!-- 照片 -->
                    <div class="col-6 d-flex justify-content-center ps-5">
                        <div class="rounded-image-container">
                            <img src="~/images/nopersonal.jpg" class="rounded-image" id="member-img" />
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 第二區塊 -->
                <div class="row justify-content-between">
                    <div class="container text-center">
                        <button type="button" class="btn m-2" id="editMemberButton" data-href="@Url.Action("MemberEdit", "Member")" style="background-color: #F24B88; color: #fff;">
                            修改
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Form End -->
<!-- 會員基本資料 End -->
<!-- body end -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>

        const MemberIdFromSession = sessionStorage.getItem('memberId');
    $(document).ready(function () {
        const SaltFromSession = sessionStorage.getItem('Salt');

        // 第一個 AJAX 請求
        $.ajax({
            url: 'https://localhost:7011/api/Member/' + MemberIdFromSession,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('.memberNameInput').val(data.memberName);
                $('.memberAddressInput').val(data.address);
                $('.memberPhoneInput').val(data.phone);
                $('.memberEmailInput').val(data.email);
                // $('.memberCreatedAtInput').val(data.createdAt);
                $('.memberStatusInput').val(data.status);
                $('.memberPasswordInput').val(data.password);


                var ID = MemberIdFromSession;
                $('.memberIDInput').text(ID);
                var name = data.memberName;
                $('.memberNameInput').text(name); 
                // 假設你已經成功獲取到 Email，存在變數 data.email 中
                var email = data.email;
                $('.memberEmailInput').text(email);



                var birthDate = new Date(data.birth); // 假設 data.birth 包含日期時間值
                var formattedBirthDate = birthDate.toISOString().split('T')[0]; // 格式化為 YYYY-MM-DD
                $('.memberBirthInput').val(formattedBirthDate);

                var createdAt = new Date(data.createdAt); // 假设 data.createdAt 包含日期时间值
                var formattedCreatedAt = 格式化日期时间(createdAt.toISOString());
                $('.memberCreatedAtInput').val(formattedCreatedAt);


                var gender = data.gender ? "男" : "女";
                $('.memberGenderInput').val(gender);

                var status = data.status ? "有效會員" : "無效會員";
                $('.memberStatusInput').val(status);




                var Photo = data.photo; //照片
                // 更新會員照片
                var memberPhotoElement = document.querySelector("#member-img");

                if (Photo) {
                    var memberImageBase64 = Photo; // 從API獲取的Base64編碼的照片
                memberPhotoElement.src = "data:image/jpeg;base64," + memberImageBase64; // 直接將圖像設置為src
               
                }

                // ... 其他的資料設定
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
        $('#editMemberButton').click(function () {
            sessionStorage.setItem('MemberId', MemberIdFromSession);
            sessionStorage.setItem('salt', SaltFromSession);

            console.log("Saved memberId:", sessionStorage.getItem('memberId'));
            window.location.href = $(this).data('href');
        });
    });


    function 格式化日期时间(ISO日期时间) {
        const date = new Date(ISO日期时间);
        const 年 = date.getFullYear();
        const 月 = (date.getMonth() + 1).toString().padStart(2, '0');
        const 日 = date.getDate().toString().padStart(2, '0');
        const 小时 = date.getHours().toString().padStart(2, '0');
        const 分钟 = date.getMinutes().toString().padStart(2, '0');
        const 秒 = date.getSeconds().toString().padStart(2, '0');

        return `${年}-${月}-${日} ${小时}:${分钟}:${秒}`;
    }

    const ISO日期时间 = "2023-07-09T16:00:00.000Z";
    const 格式化后的日期时间 = 格式化日期时间(ISO日期时间);

    console.log(格式化后的日期时间); // 输出 "2023-07-09 16:00:00"

 


</script>
